@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! mobile 버전 - css */
@media (max-width:1023px){}
/*! pc & tablet 버전 - css */
@media (min-width:1024px){}

// ******************** code comments ********************
// dropdown
// ******************** code comments ********************
.drop-down-container{}
.drop-down-align{
    display: flex;
    flex-flow: column;
    position: relative;
    &.open{
        @include rem(box-shadow, 5px 5px 15px 0px rgba(0,0,0,0.1));
        .drop-down-btn{
            border:1px solid $line-222222;
            border-bottom:0;
            border-bottom-left-radius:0;
            border-bottom-right-radius:0;
        }
        .drop-down-ico{
            transform: rotate(-45deg);
            margin-top:0;
        }
        .drop-down-list{
            display: flex;
            flex-flow:column;
        }
    }
    &.top{
        flex-flow:column-reverse;
        .drop-down-ico{
            transform: rotate(-45deg);
            margin-top:0;
        }
        &.open{
            .drop-down-btn{
                border:1px solid $line-222222;
                @include rem(border-radius, 5px);
                border-top-left-radius:0;
                border-top-right-radius:0;
            }
            .drop-down-ico{
                @include rem(margin-top, -7px);
                transform: rotate(135deg);
            }
            .drop-down-list{
                top:auto;
                bottom:calc(100% - 1px);
                border:1px solid $line-222222;
                border-bottom:0;
                @include rem(border-radius, 5px);
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
                display: flex;
                flex-flow:column-reverse;
            }
        }
    }
    &.disabled{
        pointer-events: none;
        position: relative;
        z-index: -1;
        // disabled 속성 ie10 대응
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            /* IE10+ CSS styles go here */
            &:after{
                content:'';
                position: absolute;
                width:100%;
                height:100%;
                top:0;left:0;
                background:#ffffff;
                opacity: 0;
                z-index: 1;
            }
        }
        .drop-down-btn{
            background-color:$bg-f5f5f5;
        }
        .drop-down-index{
            color:$font-cccccc;
        }
        .drop-down-ico{
            @include rem(border-top, 2px solid #999999);
            @include rem(border-right, 2px solid #999999);
        }
    }
}
.drop-down-btn{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    @include rem(padding, 11px 15px 11px 15px);
    border:1px solid $line-dddddd;
    @include rem(border-radius, 5px);
}
.drop-down-index{
    text-align: left;
    @include rem(font-size, 17px);
    color:$font-999999;
    line-height: 1.58;
}
.drop-down-ico{
    display:block;
    @include rem(width, 10px);
    @include rem(height, 10px);
    @include rem(border-top, 2px solid #000000);
    @include rem(border-right, 2px solid #000000);
    @include rem(margin-top, -7px);
    transform: rotate(135deg);
}
.drop-down-list{
    display:none;
    position: absolute;
    z-index: 1;
    width:100%;
    top:calc(100% - 1px);
    border:1px solid $line-222222;
    background-color:#ffffff;
    border-top:0;
    @include rem(border-radius, 5px);
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.drop-down-item{}
.drop-down-link{
    text-align: left;
    cursor: pointer;
    display: block;
    width:100%;
    @include rem(padding, 14px 15px 14px 15px);
    @include rem(border-radius, 5px);
    &:focus,
    &:hover{
        background-color:#f9f9f9;
    }
}
.drop-down-txt{
    @include rem(font-size, 15px);
    font-weight: 500;
    color:$font-222222;
}
