@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! mobile 버전 - css */
@media (max-width:1023px){}
/*! pc & tablet 버전 - css */
@media (min-width:1024px){}

// ******************** code comments ********************
// icon
// 이미지 아이콘과 css 아이콘을 구분해서 관리하기
// 추가 스타일이 필요할 경우 프로젝트내에서 판단하여 클래스를 추가 하거나 타입을 추가 하기
// ******************** code comments ********************

/*!
 * component
 * Icon - css Type
 * Arrow
 */
.ico-arrow{
    width:10px;
    height:10px;
    border-top:2px solid #000000;
    border-right:2px solid #000000;
    &.top {transform: rotate(-45deg);}
    &.down {transform: rotate(135deg);}
    &.left {transform: rotate(-135deg);}
    &.right {transform: rotate(45deg);}
    &.top-left {transform: rotate(-90deg) skew(-10deg, -10deg);}
    &.top-right {transform: rotate(0) skew(-10deg, -10deg);}
    &.bottom-left {transform: rotate(180deg) skew(-10deg, -10deg);}
    &.bottom-right {transform: rotate(90deg) skew(-10deg, -10deg);}
    &.top-narrow {transform: rotate(-45deg) skew(-15deg, -15deg);}
    &.top-wide {transform: rotate(-45deg) skew(7deg, 7deg);}
}
.ico-triangle{
    width:0;
    height:0;
    &.up{
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-bottom:16px solid #000000;
    }
    &.down {
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-top:16px solid #000000;
    }
    &.left {
        border-top:10px solid transparent;
        border-bottom:10px solid transparent;
        border-right: 16px solid #000000;
    }
    &.right {
        border-top:10px solid transparent;
        border-bottom:10px solid transparent;
        border-left: 16px solid #000000;
    }
}

/*!
 * component
 * Icon - css Type
 * Line
 */
.ico-line{
    position: relative;
    width:16px;
    height:16px;
    &:before{
        content:'';
        width:100%;
        height:2px;
        position: absolute;
        top:50%;
        left:0;
        margin-top: -1px;
    }
    &:after{
        content:'';
        width:2px;
        height:100%;
        position: absolute;
        top:0;
        left:50%;
        margin-left: -1px;
    }
    &.more{
        &:before{background-color:gray;}
        &:after{background-color:gray;}
    }
    &.close{
        transform: rotate(-45deg);
        &:before{background-color:gray;}
        &:after{background-color:gray;}
    }
}

/*!
 * component
 * Icon - css Type
 * etc
 */
.ico-delete{
    position:relative;
    @include rem(width, 16);
    @include rem(height, 16);
    background-color: #b8b8b8;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;

    .line{
        display: inline-block;
        position:relative;
        @include rem(width, 10);
        @include rem(height, 10);
        transform: rotate(-45deg);
        &:before {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background-color:#ffffff;
        }

        &:after {
            content: '';
            width: 2px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -1px;
            background-color:#ffffff;
        }
    }
}

/*!
 * component
 * Icon - image Type
 * default, sprite
 */
// 기본 이미지
.ico-download-black{
    @include rem(width, 18px);
    @include rem(height, 17px);
    background-image:url('../images/common/ico_download_dark.png');
    @include rem(background-size, 18px 17px);
}
// 스프라이트 이미지
.ico-download-black02{
    @include sprite-custom(rem, $pc-ico-download-dark);
}

/*!
 * component
 * Icon - SVG Type
 * Data url, Background Image
 */
.ico-search{
    @include rem(width, 20px);
    @include rem(height, 20px);
    background-image: url("data:image/svg+xml,#{$ico-search}");
    @include rem(background-size, 20px 20px);
}
.ico-all-menu {
    @include rem(width, 20px);
    @include rem(height, 20px);
    background-image: url("../images/common/ico_all_menu.svg");
    @include rem(background-size, 20px 20px);
}

/*!
 * component
 * tag
 * default
 */
