@charset "utf-8";

@import 'dev/_src/_scss/_setting';

/*! mobile 버전 - css */
@media (max-width:1023px){}
/*! pc & tablet 버전 - css */
@media (min-width:1024px){}

// ******************** code comments ********************
// form - container
// ******************** code comments ********************
/*! 폼 - validation 컨테이너 */
.form-validation-container{}
.label-area{
    display: block;
    @include rem(padding, 0 0 4px 0);
    .label-txt{
        @include rem(font-size, 15px);
        font-weight: 500;
        color:$font-222222;
    }
}

// 에러 또는 성공 메세지 출력 관련 스타일
.form-validation-message {
    @include rem(padding, 9px 0 0 0);
    @include rem(font-size, 13px);
}
// input text 상태 컨트롤 영역 (성공, 에러, 비활성, 읽기전용)
.form-validation-container{
    // 성공
    &.pass{
        .form-validation-message{
            color: blue;
        }
    }
    // 에러
    &.error{
        .form-validation-message{
            color: $font-e1002a;
        }
    }
    // readonly, disabled 비활성화
    &.readonly,
    &.disabled{
        opacity: 1;
        pointer-events: none;
        position: relative;
        z-index: -1;
        // disabled 속성 ie10 대응
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            /* IE10+ CSS styles go here */
            &:after{
                content:'';
                position: absolute;
                width:100%;
                height:100%;
                top:0;left:0;
                background:#ffffff;
                opacity: 0;
                z-index: 1;
            }
        }
        .label-area{
            .label-txt{
                color:$font-999999;
            }
        }
        .input-txt{
            input{
                color:$font-999999;
                pointer-events: none;
            }
            &.btn-type01{
                input{
                    background-color:$bg-eeeeee;
                    border:1px solid $line-eeeeee;
                }
                .btn-input-search{
                    .ico-input-search{
                        background-image:url('../images/common/ico_search_input_disabled_mo.png');
                    }
                }
            }
        }
        input[disabled]{
            background-color:#ffffff;
        }
        input[readonly]{
            &:focus{
                border-color: $line-dddddd;
            }
        }
    }
}

/*! 폼 - 정렬 컨테이너 */
.form-container{}

/*! 폼 - 정렬 */
.form-align-type01{
    &.spacebetween-equal{
        display:flex;
        justify-content: space-between;
        @include rem(margin-right, -10px);
        .form-col{
            @include rem(margin-right, 10px);
            flex: 0 1 100%;
        }
        .form-col.flex-end-type01{
            display:flex;
            align-items:flex-end;
            @include rem(padding-bottom, 16px);
            [class^="input-"]{
                @include rem(margin-right, 20px);
                &:last-child{
                    margin-right:0;
                }
            }
        }
    }
}
.form-align-type01 + .form-align-type01{
    @include rem(margin-top, 30px);
}
