@charset "utf-8";

//문화TV
// .visual-top {
//     &::after {
//         content:'';
//         display: block;
//         width:100%;
//         height: 15px;
//         margin-top: 80px;
//         background-color: #f5f5f5;
//     }
// }

.overflow-hidden {
    overflow: hidden;
}

.visual-top {
    .title-area {
        margin-bottom:80px;
    }
}

.videoList {
    .visual-area {
        height: auto;
    }
}

.visual-area {
    display:flex;
    height: 670px;

    &.type-slider {
        .swiper-button-area {
            left:auto;
            right:0;
            bottom:0;
            transform: translateX(0);
        }
    }
    .visual-content-box {
        display:inline-flex;
        flex-direction: column;
    }
    .video {

        .link-content-list {
            position:relative;
            display:flex;
            width: 838px;
            // height: 471px;
            background:lightsalmon;

            img {width:100%;}
        }
    }

    .visual-text-box {
        border:1px solid #ddd;
        border-right:0;

        width: 838px;
        padding: 39px 32px;

        .category {
            padding: 3px 11px;
            font-size: 13px;
            color:#222;
            border-radius: 13.5px;
            border:1px solid #222;
            background-color:#fff;
            box-sizing: border-box;
        }

        .title-h3 {
            margin-top:0;
        }
    }

    &.type-slider {
        flex-wrap: wrap;

        .item {
            display:flex;
        }

        .visual-text-box {
            width: 440px;
            padding:0;
            padding-left: 40px;
            border:none;

            .title-h3 + .sub-txt {
                width:auto;
            }
        }

        .visual-category {
            display: flex;
            margin-bottom:12px;
        
            li {
                margin-right: 8px;
    
                &:nth-of-type(even) .txt {
                    color:#fff;
                    background-color: #222;
                }
            }
    
            .txt {
                display: inline-flex;
                padding: 3px 12px;
                font-size: 13px;
                border-radius: 13.5px;
                line-height: 1.5;
                letter-spacing: -.65px;
                color:#222;
                background-color:#fff;
                border:1px solid #222;
    
                
            }
        }

        .hashtag {
            display:flex;
            flex-wrap: wrap;
            margin-top: 8px;
            // margin-bottom: 32px;

            li {
                padding: 4px 8px;
                margin-top: 8px;
                margin-right: 8px;
                background:#eee;

                & + li {
                    
                }
                .txt {
                    font-size: 13px;
                    line-height: 1.38;
                    letter-spacing: -0.33px;
                    color:#222;
                }

            }
        }

        .info {
            display:flex;
            width: 184px;
            justify-content: space-between;

            &:nth-of-type(1) {
                margin-top:32px;
            }
            
            & + .info {
                margin-top: 12px;
            }

            dt, dd {
                width:50%;
                font-size: 14px;
                letter-spacing: -0.35px;
                color:#222;
            }

            dt {
                font-weight: bold;
            }
        }
        .visual-text-info {

            .txt {
                height:auto;
                margin:32px 0;
                font-size:16px;
                line-height: 1.5;
                letter-spacing: -0.4px;
                color:#999;

                &.text-overflow {
                    overflow-y: hidden;
                    height:96px;
                }
            }

            .btn-txt-more {
                width:100%;
                padding:16px 0;
                border:1px solid #ddd;
                text-align: center;

                .txt {
                    font-size: 16px;
                    line-height: 1.5;
                    color:#222;
                }
            }
            
        }
    }
}

.thumbnail-area {
    display:inline-flex;
    // width: 441px;
    // padding: 32px 32px 69px 32px;
    border:1px solid #ddd;

    .thumbnail-list {
        display: flex;
        // width:100%;
        width: 376px;
        // height: 569px;
        margin-top: 32px;
        flex-direction: column;

        .swiper-slide {
            display: flex;
            // width:100%;
            // height:calc((100%) / 5) !important;
            height: 101px !important;
            justify-content: center;
        }
    }

    button {
        display:flex;
    }

    .thumb-img {
        display:inline-block;
        width: 180px;
        height: 101px;

        img {
            width:100%;
        }
    }

    .thumb-text {
        text-align: left;
        padding-left: 16px;

        .sub-category {
            display:inline-block;
            padding: 3px 7px;
            font-size: 10px;
            border-radius: 11.5px;
            line-height: 1.5;
            letter-spacing: -0.25px;
            border: 1px solid #222;
            color:#222;
        }

        .txt {
            width: 180px;
            margin: 4px 0 2px 0;
            font-size: 16px;
            line-height: 1.5;
            color:#222;
        }
    }
}

.slide-contents {
    margin-top: 80px;

    &:last-child {
        margin-bottom: 120px;
    }
    
    .swiper-wrapper {
        padding-bottom: 103px;
    }

    .swiper-button-area {
        left:auto;
        right:0;
        bottom: -2px;
        width: 146px;
        height: 54px;
        transform: translateX(0);

        .swiper-pagination {
            top:auto;
            bottom: 21px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            bottom:auto;
            width: 54px;
            height: 54px;
            background: url('../images/icons/ico_slide_arrow_circle.png') no-repeat 0 0;
            background-size: cover;
        }
    }

    .swiper-progress {
        top:auto;
        bottom: 27px;
        width: 1030px;
        height:2px;
        background:#ddd;

        .swiper-pagination-progressbar-fill {
            background:#ff6742;
        }
    }
}

.section-list {
    margin-top:63px;
    padding-bottom:120px;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    margin-top:32px;
    margin-left:-40px;

    .list {
        width:calc(100% / 4 - 40px);
        margin-left:40px;
        margin-bottom:52px;
    }
}

.caption {
    display: flex;
    margin-top:16px;
    background:#f5f5f5;
    padding:24px 37px 24px 36px;

    .txt {
        margin-left:36px;
        font-size:16px;
        letter-spacing: -0.4px;
        color:#666;

        .point {
            color:#ff6742;
        }
    }
}

.section-contents {
    margin-top:80px;
}

.notice-area {
    margin-top:32px;

    .write-field {
        position:relative;

        textarea {
            width:91%;
            height:82px;
            padding:12px 50px 32px 12px;
            font-size:14px;
            color:#666;
            resize: none;
            border:1px solid #ccc;
            border-radius: 0;
            border-right: none;

            &::placeholder {
                font-size:14px;
                color:#ccc;
            }
        }
        .text-count {
            position:absolute;
            bottom:12px; right:10%;
            font-family: 'Montserrat';
            font-size: 14px;
            color:#666;

            .point {
                font-weight: bold;
            }
        }
        .btn-submit {
            position: absolute;
            top:0; right:0;
            width:9%;
            height:82px;
            background:#666;
            
            .txt {
                font-size:16px;
                color:#fff;
            }

        }
    }

    .notice-list {
        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding:24px 0 0 24px;
            border-bottom:1px solid #ddd;

            .user-info,
            .list-setup {
                display: flex;
                align-items: center;
                
            }

            .user-info {
                .user-photo {
                    width:40px; height:40px;

                    img {
                        width:100%;
                    }
                }
                .user-id {
                    margin-left:14px;
                    font-size:14px;
                    font-weight: bold;
                    color:#222;
                }
            }

            .list-setup {
                
                .date {
                    font-size:14px;
                    font-family: 'Montserrat';
                    color:#999;
                    line-height: 2.29;

                    &::after {
                        content:'';
                        display:inline-block;
                        width:1px;
                        height:12px;
                        margin:0 16px;
                        vertical-align: -1px;
                        background:#ddd;
                    }
                }
                .btn-del {
                    font-size: 14px;
                    color:#999;
                    line-height: 2.29;

                    &::after {
                        content:'';
                        display:inline-block;
                        width:20px;
                        height:20px;
                        vertical-align: -6px;
                        background: url('../images/icons/ico_del.png') no-repeat;
                        background-size: cover;
                    }
                }
            }
            .txt {
                margin:24px 0 24px 5px;
                font-size:14px;
                color:#1b1b1b;
                line-height: 1.43;
                letter-spacing: -0.28px;
            }
        }
    }

    .link-listview {
        display: flex;
        width:314px; height:56px;
        margin:52px auto 0;
        padding:16px 128px;
        align-items: center;
        justify-content: center;
        border:1px solid #ddd;

        .txt {
            font-size:16px;
            color:#222;
        }
    }

}

.mb120 {
    margin-bottom:120px;
}


.layerPopup-container {


    .dimm {
        display: none;
        position:fixed;
        top:0; left:0; right:0; bottom:0;
        z-index: 100;
        background:#000;
        opacity: .5;
    }

    .layerPopup-wrap {
        position:fixed;
        top:50%; left:50%;
        width:100%;
        height:100%;
        max-width:720px;
        max-height: 1052px;
        padding:37px 0;
        transform: translate(-50%, -50%);
        z-index: 101;
        background:#fff;
        

        .layerPopup-inner {
            position: relative;
            height:100%;
            overflow: hidden;

            .btn-close {
                position: absolute;
                top:0;
                right:24px;
                width:24px; height:24px;
                background: url('../images/icons/ico_delete.png') no-repeat 0 0;
                background-size: cover;
            }
        }

        .title-h5 {
            padding:0 24px 24px 24px;
            font-size:24px;
            font-weight: bold;
            color:#222;
            border-bottom:1px solid #000;
        }
    }

    .popup-contents {
        height:100%;
        padding:0 36px 80px 36px;
        overflow-y: scroll;

        strong {
            display: block;
            margin-top:24px;
            font-size:16px;
            font-weight: bold;
            color:#222;

            &.point {
                font-size:14px;
                font-weight: 400;
                color:#ff6742;

                + .txt {
                    font-weight: 300;
                }
            }
        }
        .txt {
            margin-top:8px;
            font-size:14px;
            line-height: 1.43;
            color:#999;
        }

        .border-area {
            margin-top:20px;
            padding:0 24px 24px;
            border:1px solid #ddd;
        }
    }
}

.btn-popup {
    margin-top:12px;
    padding:6px 12px;
    border:1px solid #ddd;
    border-radius: 15px;

    .txt {
        font-size:12px;
        color:#222;
    }
}



@media (max-width:1279px) {
    .visual-top::after {
        margin-top: 40px;
    }

    .content-inner,
    .slide-contents {
        margin-top: 40px;
    }

    .slide-contents .swiper-progress {
        width:820px;
    }

    .visual-area {
        display:block;
        height:auto;
    }

    .visual-area .visual-content-box {
        display: flex;
    }

    .visual-area .visual-text-box {
        width:100%;
        border:0;
        padding: 20px;
    }

    .visual-area .video .link-content-list {
        width:100%;
    }

    .thumbnail-area {
        display: inherit;
        // padding: 0 23px 40px 23px;
        padding:0 30px 40px 0;
        border:0;

        .thumbnail-list {
            width: auto;
            // display: block;
            flex-direction:unset;

            .swiper-slide {
                width:auto;
                height:100% !important;
                margin-top:0 !important;
                justify-content: unset;

                a {width:100%;}
            }

        }
        .thumb-text {
            display:none;
        }
        .thumb-img {
            width:100%;
            height:auto;
        }

        .swiper-button-area {
            bottom:0;
        }
    }

    .title-h3 + .sub-txt {
        width:auto;
    }

    .content-list .list {
        width:calc(100% / 3 - 40px);
        margin-bottom:52px;
    }

    .visual-area.type-slider .item {
        flex-direction: column;
    }
    .visual-area.type-slider .visual-text-box {
        width:100%;
        padding:32px 0 40px 0;
    }

    .visual-area.type-slider .swiper-button-area {
        left:50%;
        right:auto;
        transform: translateX(-50%);
    }
}


@media (max-width:1023px) {
    .visual-area .visual-text-box {
        padding:30px 0 20px;
    }

    .thumbnail-area .thumbnail-list {
        margin-top:16px;
    }

    .content-list {
        margin-left:-20px;
    }

    .content-list .list {
        width:calc(100% / 2 - 20px);
        margin-left:20px;
        margin-bottom:52px;
    }

    .visual-area.type-slider .visual-text-info .txt {
        margin:0 0 16px 0;
        font-size:14px;

        &.text-overflow {
            height:85px;
        }
    }

    .visual-area.type-slider .visual-text-info .btn-txt-more {
        padding:8px;
    }
    
    .visual-area.type-slider .visual-text-info .btn-txt-more .txt {
        font-size: 14px;
    }

    .caption {
        flex-direction: column;
        padding:20px;

        img {
            width:150px;
            height:100%;
        }
    }

    .caption .txt {
        margin-left:0;
        margin-top:10px;
        font-size:12px;
        line-height: 1.4;
    }
    .notice-area {
        margin-top:18px;
    }

    .notice-area .write-field textarea {
        width:81%;
        padding:12px 38px 20px 12px;
    }

    .notice-area .write-field .btn-submit {
        width:19%;

        .txt {
            font-size:14px;
        }
    }

    .notice-area .notice-list li {
        padding:20px 0 0 0;
    }

    .notice-area .write-field .text-count {
        right:20%;
        font-size:12px;
    }
    .notice-area .notice-list li .list-setup .date,
    .notice-area .notice-list li .list-setup .btn-del {
        font-size:12px;
    }

    .notice-area .notice-list li .list-setup .date::after {
        margin:0 8px;
    }

    .notice-area .notice-list li .txt {
        margin:16px 0 16px 5px;
        font-size:12px;
    }

    .notice-area .link-listview {
        width:100%;
        height:46px;
        margin-top:40px;

        .txt {
            font-size:14px;
        }
    }

    .mb120 {
        margin-bottom:80px;
    }

    .layerPopup-container .layerPopup-wrap {
        width:calc(100% - 40px);
        padding:28px 0;
    }
    .layerPopup-container .layerPopup-wrap .title-h5 {
        font-size: 18px;;
    }
    .layerPopup-container .popup-contents {
        padding:0 28px 40px 28px;
    }
}



































//prototype.css 에 공통 넣을 것들

.auto-play-swiper {

    .swiper-container {
        padding-bottom:60px;
    }

    .swiper-pagination-bullet {
        width:16px;
        height:16px;
        background:#d9d9d9;
        transition: all .3s ease-in-out;
        opacity: 1;

        + .swiper-pagination-bullet {
            margin-left:12px;
        }
    }
    
    .swiper-pagination-bullet-active {
        width:32px;
        border-radius: 8px;
        background-color:#222;
    }
    
    .swiper-play-btn {
        width:10px;
        height:15px;
        margin:0 auto;
        background: url('../images/icons/ico_play.png') no-repeat 0 0;
        background-size: cover;

        &.pause {
            background-image: url('../images//icons/ico_pause.png');
        }
    }

    .swiper-button-area {
        width:auto;
        bottom:0;

        .swiper-contr-area {
            position: absolute;
            width:78px;
        }

        .swiper-pagination {
            position: relative;
            left:89px;
            width:100%;
        }
    }
}


//tablet
@media (max-width:1279px) {
    .section-inner {
        padding:0 20px;
    }
}

//mobile
@media (max-width:1023px) {
    .line-gray::after {
        height:10px;
    }

    .section-inner {
        padding:0 20px;
    }    

    .visual-top .title-area {
        margin-bottom:20px;
    }

    .title-h1 {
        font-size:24px;
        .txt {
            margin-top:4px;
        }
    }
    .title-h3 {
        margin:13px 0 16px;
        font-size:18px;

        + .sub-txt {
            font-size:14px;
        }
    }

    .title-h4 {
        font-size:24px;
        line-height: 1.25;
        margin-bottom:24px;

        .ico {
            width:35px; height:35px;
        }
    }
    .visual-area.type-slider .visual-text-box {
        padding-top:20px;
    }

    .slide-area {
        
    }

    .box-thumb .thumb-tag + .thumb-txt {
        margin-top:0;
    }

    .box-thumb .tit.size02 {
        font-size:16px;
        line-height: 1.5;
        min-height: auto;
    }
    .box-thumb .thumb-tag.size02 .tag {
        height:23px;
        margin-right:4px;
        padding:4px 8px;
    }
    
    .box-thumb .thumb-tag.size02 .tag .txt {
        font-size:10px;
    }

    .box-thumb .txt.size02 {
        font-size:12px;
        line-height: 1.67;
    }
    .box-thumb .txt + .txt {
        margin-top:8px;
    }

    .slide-contents .swiper-wrapper {
        // padding-bottom:80px;
    }

    .slide-contents .swiper-progress {
        width:100%;
        bottom:69px;
    }
    .slide-contents .swiper-button-area {
        left:50%;
        right:auto;
        transform: translateX(-50%);
    }

    .slide-contents:last-child {
        margin-bottom:80px;
    }

    .section-list {
        margin-top:40px;
        padding-bottom:80px;
    }

    .section-contents {
        margin-top:40px;
    }
}