@charset "utf-8";

@import 'dev/_src/_scss/_setting';

.content-inner {
    margin-top: 80px;

}

.section-inner {
    // max-width: 1280px;
    max-width: 1320px;
    width: 100%;
    margin:0 auto;
    padding: 0 20px;
}


[class^="ico-"] {
    display: inline-block;
}

//텍스트 말줄임
.ellipsis {
// width: 각 요소에 적용
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;

&.type02 {
    -webkit-line-clamp: 2;
}
&.type03 {
    -webkit-line-clamp: 3;
}
&.type04 {
    -webkit-line-clamp: 4;
}
}

// 텍스트 공통
.title-h4 {
    text-align: center;
}

//breadcrumb
.breadcrumb {
    display:flex;
    max-width: 1280px;
    width: 100%;
    height: 84px;
    margin:0 auto;
    margin-top: -80px;
    justify-content: space-between;
    align-items: center;

    .location-content {
        display:flex;
        
        li:last-child {
            a {
                font-weight: bold;
                color:#000;
            }
        }

        a {
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: -.7px;
            color:#666;

            &::after {
                content:'';
                display:inline-block;
                width: 12px;
                height: 12px;
                margin: 0 4px;
                background: url('../images/icons/ico_breadcrumb_arrow.png') no-repeat 0 0;
                background-size: cover;
            }
        }
    }

    .share-area {
        .share-content {
            display:flex;

            li {
                width: 40px;
                height: 40px;

                + li {
                    margin-left: 12px;
                }
            }
            a {
                display:inline-block;
                width:100%; height:100%;

                &.link-share {
                    background: url('../images/icons/ico_share.png') no-repeat 0 0;
                    background-size: cover;
                }

                &.link-print {
                    background: url('../images/icons/ico_print.png') no-repeat 0 0;
                    background-size: cover;
                }
            }
        }
    }
}


//공통
.ico-play {
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background: url('../images/icons/ico_play_btn.png') no-repeat 0 0;
    background-size: cover;
}

.title-area {
    margin-top: 2px;
    margin-bottom: 80px;
    text-align: center;
}

.title-h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 0.83;
    letter-spacing: -1.2px;
    color:#222;

    .txt {
        display:flex;
        margin-top: 25px;
        font-size: 18px;
        justify-content: center;
        line-height: 1.78;
        font-weight: 400;
        letter-spacing: -0.45px;
        color:#999;
    }
}

.title-h3 {
    margin: 8px 0 16px;
    font-size: 24px;
    font-weight: bold;
    color:#222;
    line-height: 1.5;
    letter-spacing: -0.6px;

    & + .sub-txt {
        width: 774px;
        font-size: 16px;
        color:#999;
        line-height: 1.5;
        letter-spacing: -0.4px;
    }
}


.title-h4 {
    font-size: 32px;
    margin-right: 8px;
    margin-bottom: 32px;
    font-weight: bold;
    color:#222;
    line-height: 1.25;
    letter-spacing: -0.8px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ico {
        display:inline-flex;
        width: 40px;
        height: 40px;
        background: url('../images/icons/ico_arrow.png') no-repeat 0 0;
        background-size: cover;
    }
}

.swiper-button-area {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;

    bottom: 32px;
    width: 102px;
    height: 20px;


    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;

        width: 20px;
        height: 20px;
        background:url('../images/icons/ico_slide_arrow.png') no-repeat 0 0;
        background-size: cover;
        z-index: 999;

        &::after {
            content:none;
        }
    }

    .swiper-button-prev {
        top: 20px;
        left:0;
        bottom:auto;
    }
    .swiper-button-next {
        top: 20px;
        right:0;
        bottom:auto;
        transform: rotateY(180deg);
    }

    .swiper-pagination {
        top:0;
        bottom:auto;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: -.4px;
        font-weight: bold;
        color:#999;

        .swiper-pagination-current {
            color:#000;
        }
    }
}


// 썸네일
.box-thumb {
    width: 100%;
    display: block;

    // 썸네일 이미지
    .thumb-img {
        position: relative;
        margin-bottom: 16px;

        img {
            display: block;
            width: 100%;
            
        }
    }

    // 집콕+집밖 아이콘
    .thumb-category {
        position: absolute;
        top: 10px;
        right: 10px;
    }


    // 할인 아이콘
    .thumb-discount {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
        font-size: 14px;

        .num {
            font-size: 24px;
            font-weight: bold;
        }

        &.color01 {
            color: #d83d17;
            border: 1px solid #d83d17;
        }
        &.color02 {
            color: #41bcdc;
            border: 1px solid #41bcdc;
        }
        &.color03 {
            color: #2ac888;
            border: 1px solid #2ac888;
        }
    }

    // 예매하기 버튼
    .btn-link {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 48px;
        border: solid 1px #eee;
        background-color: #222;
        text-align: center;

        .txt {
            font-size: 14px;
            font-weight: bold;
            color: #fff;
        }
    }

    // 썸네일 카테고리 태그
    .tag{
        display:inline-flex;
        align-items: center;
        background-color:#f8f8f8;
        height: 23px;
        padding: 0 8px;
        border-radius: 11.5px;
        margin-right: 4px;
        margin-bottom: 4px;
        background-color:#fff;
        border: solid 1px #222;
        .txt{color:#222;}

        &:last-child {
            margin: 0;
        }

        .txt{
            font-size: 10px;

        }

        &.reverse {
            background-color:#222;
            .txt{color:#fff;}
        }

        
    }
    
    .thumb-tag {
        margin-bottom: 4px;

        &.size02 .tag {
            height: 27px;
            padding: 0 12px;
            border-radius: 13.5px;
            margin-right: 8px;

            .txt{
                font-size: 13px;
            }
        }
    }


    // 썸네일 텍스트
    .thumb-tag + .thumb-txt {
        margin-top: 8px;
        margin-top: 8px;
    }

    .tit {
        line-height: 1.5;
        color: #222;
        margin-bottom: 16px;
        letter-spacing: -0.3px;

        &.size01 {
            font-size: 16px;
            min-height: 48px;
        }
        &.size02 {
            font-size: 20px;
            min-height: 59px;
        }
    }

    .txt {
        color: #999;
        line-height: 1.42;
        letter-spacing: -0.3px;

        &.size01 {
            font-size: 13px;
        }
        &.size02 {
            font-size: 14px;
        }

        & + .txt {
            margin-top: 16px;
            color:#222;
            font-weight: bold;
        }

        &.mont {
            font-family: Montserrat;
            letter-spacing: -0.3px;
        }
    }

    .txt-list {
        display: flex;
        color: #999;
        font-size: 13px;
        line-height: 1.5;
        margin-top: 4px;
        letter-spacing: -0.3px;

        .term {
            width: 40px;
        }
        .desc {
            height: calc(100% - 40px);
        }
    }
}

// 페이지네이션
.area-pagenation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & > button {
        width: 20px;
        height: 20px;
        margin: 4px 0;
    }

    .btn-first {
        background: url('../images/icons/ico_arrow_prev02.png') center no-repeat;
    }
    .btn-prev {
        background: url('../images/icons/ico_arrow_prev.png') center no-repeat;
    }
    .btn-next {
        background: url('../images/icons/ico_arrow_prev.png') center no-repeat;
        transform:rotate(180deg);

    }
    .btn-last {
        background: url('../images/icons/ico_arrow_prev02.png') center no-repeat;
        transform:rotate(180deg);
    }

    .wrap-number {
        display: flex;
        flex-wrap: wrap;
        padding: 0 24px;
    }

    .btn-num {
        width: 32px;
        height: 32px;
        margin-right: 2px;

        &:last-child {
            margin-right: 0;
        }


        .txt {
            font-size: 14px;
            font-family: Montserrat;
            color: #666;
        }

        &.on {
            border: 2px solid #dddddd;

            .txt {
                color: #000;
                font-weight: bold;
            }
        }
    }
}

// 컨텐츠 회색선
.line-gray {
    &::after {
        content:'';
        display: block;
        width:100%;
        height: 15px;
        margin-top: 80px;
        background-color: #f5f5f5;
    }
}


// 썸네일 리스트 유틸
.area-util {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-top: 17px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;

    .txt-total {
        font-size: 16px;
        margin-right: 10px;
        strong {
            font-weight: bold;
        }
    }

    .list-search {
        display: flex;
        margin-top: 15px;
        flex-wrap: wrap;

        .form-box {
            display: flex;
            margin-right: 12px;
            // margin-bottom: 6px;
        }

        select {
            font-size: 13px;
            color: #222;
            width: 130px;
            padding: 8px 10px 9px;
            font-family: inherit;
            background:url('/images/home/ico_arrow_select.png') center right 13px no-repeat; 
            background-size: 9px 5px;
            border: 1px solid #ddd; 
            border-radius: 0px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .btn-view {
            background: #222222;
            padding: 0 16px;
            

            .txt {
                font-size: 14px;
                color: #fff;
            }
        }
    }

    .search-input {
        position: relative;
        width: 220px;
        // margin-bottom: 6px;

        input {
            width: 100%;
            font-size: 13px;
            color: #999;
            border: 1px solid #ddd; 
            padding: 8px 38px 9px 10px;

            &::placeholder {
                color: #222;
                opacity: 0.3;
            }
        }

        .btn-search {
            position: absolute;
            width: 38px;
            height: 100%;
            right: 0;
            top: 0;
            background:url('/images/home/ico_search.png') center no-repeat;
            background-size: 20px 20px; 
        }
    }
}

// 썸네일 리스트
.area-thumb-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-left: -40px;

    .list {
        width: calc(100% / 6 - 40px);
        margin-left: 40px;
        margin-bottom: 52px;
        
    }
}


@media (max-width:1279px){
    .breadcrumb {
        margin-top: -40px;
    }

    // 썸네일 리스트
    .area-thumb-list {
        margin-left: -20px;
    }
    .area-thumb-list .list {
        width: calc(100% / 3 - 20px);
        margin-left: 20px;
        margin-bottom: 40px;
    }
    
}


@media (max-width:1023px){
    .breadcrumb {
        display: none;
    }
    .title-h1 {
        font-size: 32px;
        line-height: 1.25;
    }
    .title-h1 .txt {
        font-size: 14px;
        margin-top: 16px;
    }

    // 컨텐츠 회색선
    .line-gray {
        &::after {
            margin-top: 40px;
        }
    }

    .ico-play {
        width: 48px;
        height: 48px;
    }

    // 할인 아이콘
    .box-thumb {
        .thumb-discount {
            width: 48px;
            height: 48px;
        
            font-size: 12px;
    
            .num {
                font-size: 18px;
            }
        }
    }

    // 썸네일 리스트 유틸
    .area-util .list-search > div {
        margin-top: 10px;
    }

    // 썸네일 리스트
    .area-thumb-list .list {
        width: calc(100% / 2 - 20px);
    }
    
}
