


//- 코딩리스트 작성 가이드
    +cl_table_auto(
        [
            [
                "카테고리명", /* 0. 뎁스1 */
                "", /* 1. 뎁스2 */
                "", /* 2. 뎁스3 */
                "", /* 3. 뎁스4 */
                "", /* 4. 뎁스5 */
                "파일명", /* 5. page(ID) */
                "서브폴더명/파일명.html", /* 6. path - 앞에 공통 폴더명은 cl.pug 에서 변수 처리됨 */
                "2021.11.01", /* 7. 완료일 */
                "완료", /* 8. 상태 - 완료 or 진행중 둘중 하나만 적을 것. 카운팅 안되게 할려면 - 대쉬를 넣을 것 */
                [
                    ["modify", "20211109 수정"], /* 수정 날짜 표시 예) 20200820 수정 */
                    ["modify", "20211109 수정"], /* 수정 날짜 표시 예) 20200820 수정 */
                    ["issue", "디자인 수급 필요"], /* 이슈관련 텍스트 예) 디자인 수급 필요 */
                    ["script", "아코디언 기능 필요"], /* 스크립트 작업 관련 예) 아코디언 기능 필요 */
                ],
            ],
            /* 아래 빈 템플릿 복사해서 사용하기 */
            [
                "", /* 0. 뎁스1 */
                "", /* 1. 뎁스2 */
                "", /* 2. 뎁스3 */
                "", /* 3. 뎁스4 */
                "", /* 4. 뎁스5 */
                "", /* 5. page(ID) */
                "", /* 6. path */
                "", /* 7. 완료일 */
                "", /* 8. 상태 */
                [
                    ["", ""],
                ],
            ],
        ],
    )

+cl_table_auto(
    [
        [
            "문화공감", /* 0. 뎁스1 */
            "문화TV", /* 1. 뎁스2 */
            "", /* 2. 뎁스3 */
            "", /* 3. 뎁스4 */
            "", /* 4. 뎁스5 */
            "", /* 5. page(ID) */
            "culturetv/mainList.html", /* 6. path */
            "", /* 7. 완료일 */
            "", /* 8. 상태 */
            [
                ["", ""],
            ],
        ],
        [
            "", /* 0. 뎁스1 */
            "", /* 1. 뎁스2 */
            "문화영상", /* 2. 뎁스3 */
            "", /* 3. 뎁스4 */
            "", /* 4. 뎁스5 */
            "", /* 5. page(ID) */
            "culturetv/videoList.html", /* 6. path */
            "", /* 7. 완료일 */
            "", /* 8. 상태 */
            [
                ["", ""],
            ],
        ],
        [
            "", /* 0. 뎁스1 */
            "", /* 1. 뎁스2 */
            "", /* 2. 뎁스3 */
            "상세", /* 3. 뎁스4 */
            "", /* 4. 뎁스5 */
            "", /* 5. page(ID) */
            "culturetv/videoListDetail.html", /* 6. path */
            "", /* 7. 완료일 */
            "", /* 8. 상태 */
            [
                ["", ""],
            ],
        ],
        [
            "", /* 0. 뎁스1 */
            "", /* 1. 뎁스2 */
            "유네스코 등재유산", /* 2. 뎁스3 */
            "", /* 3. 뎁스4 */
            "", /* 4. 뎁스5 */
            "", /* 5. page(ID) */
            "culturetv/unescoList.html", /* 6. path */
            "", /* 7. 완료일 */
            "", /* 8. 상태 */
            [
                ["", ""],
            ],
        ],
        [
            "", /* 0. 뎁스1 */
            "", /* 1. 뎁스2 */
            "한국문화100", /* 2. 뎁스3 */
            "", /* 3. 뎁스4 */
            "", /* 4. 뎁스5 */
            "", /* 5. page(ID) */
            "culturetv/culture100List.html", /* 6. path */
            "", /* 7. 완료일 */
            "", /* 8. 상태 */
            [
                ["", ""],
            ],
        ],
        [
            "", /* 0. 뎁스1 */
            "", /* 1. 뎁스2 */
            "문화인터뷰", /* 2. 뎁스3 */
            "", /* 3. 뎁스4 */
            "", /* 4. 뎁스5 */
            "", /* 5. page(ID) */
            "culturetv/job30List.html", /* 6. path */
            "", /* 7. 완료일 */
            "", /* 8. 상태 */
            [
                ["", ""],
            ],
        ],
        [
            "", /* 0. 뎁스1 */
            "", /* 1. 뎁스2 */
            "기관별영상", /* 2. 뎁스3 */
            "", /* 3. 뎁스4 */
            "", /* 4. 뎁스5 */
            "", /* 5. page(ID) */
            "culturetv/publicMovList.html", /* 6. path */
            "", /* 7. 완료일 */
            "", /* 8. 상태 */
            [
                ["", ""],
            ],
        ],
        [
            "", /* 0. 뎁스1 */
            "공감리포트", /* 1. 뎁스2 */
            "", /* 2. 뎁스3 */
            "", /* 3. 뎁스4 */
            "", /* 4. 뎁스5 */
            "", /* 5. page(ID) */
            "culturetv/themeList.html", /* 6. path */
            "", /* 7. 완료일 */
            "", /* 8. 상태 */
            [
                ["", ""],
            ],
        ],
    ],
)