
//- 믹스인 영역
mixin componentsList(type, items)
    //- 프로토타입 내용 입력 영역
    - var htmlPath = "html/"
    -
        var items = [
            ["공통","","","","","common","components/component.html","","-",[["", ""],],]
        ]

    //- 메뉴 영역일때
    if(type == 'menu')
        .et--component-menu-wrap
            button(type="button").btn-toggle
                span.hide-txt 메뉴 열고 닫기
            .et--component-menu-scroll
                nav.et--component-menu
                    .et--component-menu-guide
                        a(href!=`${pathSettingHtml}`+htmlPath+items[0][6] target="_blank").et--component-btn01
                            span 퍼블리싱 가이드
                    h1.et--component-menu-title components
                    ul.et--component-menu-list
                        each item in items
                            if item !== items[0]
                                li
                                    a(href!=`${pathSettingHtml}`+htmlPath+item[6])!= item[0]
    //- 프로토타입 리스트 영역일때
    else
        +cl_table_auto(items)
