//- 뎁스가 다른 페이지의 상대경로 변경을 위한 변수 설정
- var pathSettingHtml = locals['pathSettingHtml'];
block vars

//- 헤더 컨텐츠 영역
header#header
    ul.skipnav
        li
            a(href="#content")
                | 컨텐츠 바로가기

    .header-content
        | header
