<!DOCTYPE html>
<html lang="ko">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <title>프로토타입</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href="/css_partials/font.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/reset.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/jquery.scrollbar.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/swiper.5.4.5.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_common.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/componentlist.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/header.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/footer.css" type="text/css" rel="stylesheet">
  <script src="/js/jquery.js"></script>
  <script src="/js/gsap.min.js"></script>
  <script src="/js/swiper.min.5.4.5.js"></script>
  <script src="/js/jquery.scrollbar.min.js" defer></script>
  <script src="/js/common.js" defer></script>
</head>

<body>
  <!--[if lte IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->
  <div id="wrap">
    <div id="container">
      <div id="content" role="main">
        <div class="et--component-wrap">
          <div class="et--component-menu-wrap">
            <button class="btn-toggle" type="button">
              <span class="hide-txt">메뉴 열고 닫기</span>
            </button>
            <div class="et--component-menu-scroll">
              <nav class="et--component-menu">
                <div class="et--component-menu-guide">
                  <a class="et--component-btn01" href="/html/components/component.html" target="_blank">
                    <span>퍼블리싱 가이드</span>
                  </a>
                </div>
                <h1 class="et--component-menu-title">components</h1>
                <ul class="et--component-menu-list">
                </ul>
              </nav>
            </div>
          </div>
          <div class="et--component-content">
            <h2 class="et--component-title">Tab</h2>
            <div class="et--component-group">
              <h3 class="et--component-group-title01">Tab</h3>
              <div class="et--component-group-sub">
                <h4 class="et--component-group-title02">균등분할(equal)</h4>
                <div class="et--component-view">
                  <div class="tab-nav-container">
                    <ul class="tab-nav" role="tablist">
                      <li class="tab-item">
                        <a class="tab-link active" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">ON 20px M<br> #ffffff</span>
                        </a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">OFF 20px R #666666</span>
                        </a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">OFF</span>
                        </a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">OFF</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="et--component-view">
                  <!-- pug mixin 주석을 해제하고 사용하세요-->
                  <div class="tab-nav-container">
                    <!--+tab-nav(
    'tab-nav',
    0,
    [
        'ON 20px M<br> #ffffff',
        'OFF 20px R #666666',
        'OFF',
        'OFF'
    ]
)-->
                  </div>
                </div>
                <div class="et--component-code">
                  <div class="options">
                    <button class="btn-copy" type="button">
                      <span>COPY</span>
                    </button>
                    <div class="toast-copy">
                      <span>copied!</span>
                    </div>
                  </div>
                  <div class="et--component-code-box">
                    <pre>
// pug mixin 주석을 해제하고 사용하세요
.tab-nav-container
     //
        +tab-nav(
            'tab-nav',
            0,
            [
                'ON 20px M<br> #ffffff',
                'OFF 20px R #666666',
                'OFF',
                'OFF'
            ]
        )

</pre>
                  </div>
                </div>

              </div>
              <div class="et--component-group-sub">
                <h4 class="et--component-group-title02">불균등분할 (unequal)</h4>
                <div class="et--component-view">
                  <div class="tab-nav-container">
                    <ul class="tab-nav unequal" role="tablist">
                      <li class="tab-item">
                        <a class="tab-link active" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">ON 20px M<br> #ffffff</span>
                        </a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">OFF 20px R #666666</span>
                        </a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">OFF</span>
                        </a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">OFF</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="et--component-view">
                  <!-- pug mixin 주석을 해제하고 사용하세요-->
                  <div class="tab-nav-container">
                    <!--+tab-nav(
    'tab-nav unequal',
    0,
    [
        'ON 20px M<br> #ffffff',
        'OFF 20px R #666666',
        'OFF',
        'OFF'
    ]
)-->
                  </div>
                </div>
                <div class="et--component-code">
                  <div class="options">
                    <button class="btn-copy" type="button">
                      <span>COPY</span>
                    </button>
                    <div class="toast-copy">
                      <span>copied!</span>
                    </div>
                  </div>
                  <div class="et--component-code-box">
                    <pre>
// pug mixin 주석을 해제하고 사용하세요
.tab-nav-container
    //
        +tab-nav(
            'tab-nav unequal',
            0,
            [
                'ON 20px M<br> #ffffff',
                'OFF 20px R #666666',
                'OFF',
                'OFF'
            ]
        )

</pre>
                  </div>
                </div>

              </div>
              <div class="et--component-group-sub">
                <h4 class="et--component-group-title02">스크롤</h4>
                <div class="et--component-view">
                  <div class="tab-nav-container scroll">
                    <ul class="tab-nav unequal" role="tablist">
                      <li class="tab-item">
                        <a class="tab-link active" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">ON 20px M<br> #ffffff</span>
                        </a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">OFF 20px R #666666</span>
                        </a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">OFF</span>
                        </a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#none" role="tab">
                          <span class="hide-txt">선택됨</span>
                          <span class="txt">OFF</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="et--component-view">
                  <!-- pug mixin 주석을 해제하고 사용하세요-->
                  <div class="tab-nav-container scroll">
                    <!--+tab-nav(
    'tab-nav unequal',
    0,
    [
        'ON 20px M<br> #ffffff',
        'OFF 20px R #666666',
        'OFF',
        'OFF'
    ]
)-->
                  </div>
                </div>
                <div class="et--component-code">
                  <div class="options">
                    <button class="btn-copy" type="button">
                      <span>COPY</span>
                    </button>
                    <div class="toast-copy">
                      <span>copied!</span>
                    </div>
                  </div>
                  <div class="et--component-code-box">
                    <pre>
// pug mixin 주석을 해제하고 사용하세요
.tab-nav-container.scroll
    //
        +tab-nav(
            'tab-nav unequal',
            0,
            [
                'ON 20px M<br> #ffffff',
                'OFF 20px R #666666',
                'OFF',
                'OFF'
            ]
        )

</pre>
                  </div>
                </div>

                <div class="et--component-note">
                  <pre># class="tab-nav" 균등분할
# class="tab-nav unequal" 불균등분할
# tab-link 에 활성화 클래스 active

# 스크롤 버전은 모바일에서만 사용 합니다.
# class="tab-nav-container scroll" 가로 스크롤 버전
# 스크롤은 class="tab-nav unequal" 에서만 작동 합니다.</pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dimm">
    <img src="/images/common/blank_size_100.png" alt="">
  </div>
  <script src="components.js"></script>
</body>

</html>
