<!DOCTYPE html>
<html lang="ko">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <title>프로토타입</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href="/css_partials/font.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/reset.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/print.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/jquery.scrollbar.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/swiper.5.4.5.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/tui-date-picker.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_common.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_scroll.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_map.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_video.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_icon.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_button.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_input.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_select.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_checkbox.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_radio.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_formGroup.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_pagination.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_table.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_card.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_list.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_tab.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_dropdowns.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_breadcrumb.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_scrollspy.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_carousel.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_accordion.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_tooltip.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_modal.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_toasts.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_spinners.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_editor.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/component_test.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/componentlist.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/header.css" type="text/css" rel="stylesheet">
  <link href="/css_partials/footer.css" type="text/css" rel="stylesheet">
  <script src="/js/jquery.js"></script>
  <script src="/js/gsap.min.js"></script>
  <script src="/js/swiper.min.5.4.5.js"></script>
  <script src="/js/jquery.scrollbar.min.js" defer></script>
  <script src="/js/common.js" defer></script>
</head>

<body>
  <!--[if lte IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->
  <div id="wrap">
    <div id="container">
      <div id="content" role="main">
        <div class="et--component-wrap">
          <div class="et--component-menu-wrap">
            <button class="btn-toggle" type="button">
              <span class="hide-txt">메뉴 열고 닫기</span>
            </button>
            <div class="et--component-menu-scroll">
              <nav class="et--component-menu">
                <div class="et--component-menu-guide">
                  <a class="et--component-btn01" href="/html/components/component.html" target="_blank">
                    <span>퍼블리싱 가이드</span>
                  </a>
                </div>
                <h1 class="et--component-menu-title">components</h1>
                <ul class="et--component-menu-list">
                </ul>
              </nav>
            </div>
          </div>
          <div class="et--component-content">
            <h2 class="et--component-title">swiper</h2>
            <div class="et--component-group">
              <h3 class="et--component-group-title01">Swiper</h3>
              <div class="et--component-group-sub">
                <h4 class="et--component-group-title02">타입 1</h4>
                <div class="et--component-view">
                  <div class="default-swiper ui-swiper01">
                    <div class="swiper-container">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">1</div>
                        <div class="swiper-slide">2</div>
                        <div class="swiper-slide">3</div>
                        <div class="swiper-slide">4</div>
                        <div class="swiper-slide">5</div>
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>
                <div class="et--component-code">
                  <div class="options">
                    <button class="btn-copy" type="button">
                      <span>COPY</span>
                    </button>
                    <div class="toast-copy">
                      <span>copied!</span>
                    </div>
                  </div>
                  <div class="et--component-code-box">
                    <pre>
.default-swiper.ui-swiper01
    .swiper-container
        .swiper-wrapper
            .swiper-slide 1
            .swiper-slide 2
            .swiper-slide 3
            .swiper-slide 4
            .swiper-slide 5

        //- Add Pagination
        .swiper-pagination
        //- Add Arrows
        .swiper-button-prev
        .swiper-button-next

</pre>
                  </div>
                </div>

              </div>
              <div class="et--component-group-sub">
                <h4 class="et--component-group-title02">타입 2</h4>
                <div class="et--component-view">
                  <div class="default-swiper ui-swiper02">
                    <div class="swiper-container">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">1</div>
                        <div class="swiper-slide">2</div>
                        <div class="swiper-slide">3</div>
                        <div class="swiper-slide">4</div>
                        <div class="swiper-slide">5</div>
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>
                <div class="et--component-code">
                  <div class="options">
                    <button class="btn-copy" type="button">
                      <span>COPY</span>
                    </button>
                    <div class="toast-copy">
                      <span>copied!</span>
                    </div>
                  </div>
                  <div class="et--component-code-box">
                    <pre>
.default-swiper.ui-swiper02
    .swiper-container
        .swiper-wrapper
            .swiper-slide 1
            .swiper-slide 2
            .swiper-slide 3
            .swiper-slide 4
            .swiper-slide 5

        //- Add Pagination
        .swiper-pagination
        //- Add Arrows
        .swiper-button-prev
        .swiper-button-next

</pre>
                  </div>
                </div>

              </div>
              <div class="et--component-group-sub">
                <h4 class="et--component-group-title02">타입 3</h4>
                <div class="et--component-view">
                  <div class="default-swiper ui-swiper03">
                    <div class="swiper-container">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">1</div>
                        <div class="swiper-slide">2</div>
                        <div class="swiper-slide">3</div>
                        <div class="swiper-slide">4</div>
                        <div class="swiper-slide">5</div>
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>
                <div class="et--component-code">
                  <div class="options">
                    <button class="btn-copy" type="button">
                      <span>COPY</span>
                    </button>
                    <div class="toast-copy">
                      <span>copied!</span>
                    </div>
                  </div>
                  <div class="et--component-code-box">
                    <pre>
.default-swiper.ui-swiper03
    .swiper-container
        .swiper-wrapper
            .swiper-slide 1
            .swiper-slide 2
            .swiper-slide 3
            .swiper-slide 4
            .swiper-slide 5

        //- Add Pagination
        .swiper-pagination
        //- Add Arrows
        .swiper-button-prev
        .swiper-button-next


</pre>
                  </div>
                </div>

              </div>
              <div class="et--component-group-sub">
                <h4 class="et--component-group-title02">타입 비디오</h4>
                <div class="et--component-view">
                  <div class="default-swiper ui-swiper04">
                    <div class="swiper-container">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="video-item-container">
                            <video class="video-file" src="../../images/common/test_video01.mp4" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop">
                              <source src="../../images/common/test_video01.mp4" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop" />
                            </video>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="video-item-container">
                            <video class="video-file" src="../../images/common/test_video01.mp4" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop">
                              <source src="../../images/common/test_video01.mp4" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop" />
                            </video>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="video-item-container">
                            <video class="video-file" src="../../images/common/test_video01.mp4" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop">
                              <source src="../../images/common/test_video01.mp4" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop" />
                            </video>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="video-item-container">
                            <video class="video-file" src="../../images/common/test_video01.mp4" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop">
                              <source src="../../images/common/test_video01.mp4" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop" />
                            </video>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="video-item-container">
                            <video class="video-file" src="../../images/common/test_video01.mp4" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop">
                              <source src="../../images/common/test_video01.mp4" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop" />
                            </video>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>
                <div class="et--component-code">
                  <div class="options">
                    <button class="btn-copy" type="button">
                      <span>COPY</span>
                    </button>
                    <div class="toast-copy">
                      <span>copied!</span>
                    </div>
                  </div>
                  <div class="et--component-code-box">
                    <pre>
.default-swiper.ui-swiper04
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .video-item-container
                    video.video-file(src="../../images/common/test_video01.mp4" muted autoplay playsinline loop)
                        source(src="../../images/common/test_video01.mp4" muted autoplay playsinline loop)
            .swiper-slide
                .video-item-container
                    video.video-file(src="../../images/common/test_video01.mp4" muted autoplay playsinline loop)
                        source(src="../../images/common/test_video01.mp4" muted autoplay playsinline loop)
            .swiper-slide
                .video-item-container
                    video.video-file(src="../../images/common/test_video01.mp4" muted autoplay playsinline loop)
                        source(src="../../images/common/test_video01.mp4" muted autoplay playsinline loop)
            .swiper-slide
                .video-item-container
                    video.video-file(src="../../images/common/test_video01.mp4" muted autoplay playsinline loop)
                        source(src="../../images/common/test_video01.mp4" muted autoplay playsinline loop)
            .swiper-slide
                .video-item-container
                    video.video-file(src="../../images/common/test_video01.mp4" muted autoplay playsinline loop)
                        source(src="../../images/common/test_video01.mp4" muted autoplay playsinline loop)

        //- Add Pagination
        .swiper-pagination
        //- Add Arrows
        .swiper-button-prev
        .swiper-button-next

</pre>
                  </div>
                </div>

                <div class="et--component-note">
                  <pre># https://swiperjs.com/demos

# swiper 라이브러리에서 제공하는 .swiper-container .swiper-wrapper .swiper-slide 클래스는 동일하게 사용 합니다.
# .swiper-container 를 감싸는 영역인 .default-swiper 와 같이 클래스명을 정해서 swiper 종류별 또는 카테고리별로 관리 합니다.

# 스크립트
# .ui-swiper01 를 셀렉터로 사용 합니다. 01,02,03과 같이 추가해서 사용합니다.</pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dimm">
    <img src="/images/common/blank_size_100.png" alt="">
  </div>
  <script src="components.js"></script>
  <script>
    var swiper = new Swiper('.ui-swiper01 .swiper-container', {
      slidesPerView: 1,
      spaceBetween: 20,
      watchOverflow: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

    var swiper = new Swiper('.ui-swiper02 .swiper-container', {
      slidesPerView: 1,
      spaceBetween: 20,
      watchOverflow: true,
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

    var swiper = new Swiper('.ui-swiper03 .swiper-container', {
      slidesPerView: 1,
      spaceBetween: 20,
      watchOverflow: true,
      pagination: {
        el: '.swiper-pagination',
        type: 'progressbar',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

    var swiper = new Swiper('.ui-swiper04 .swiper-container', {
      slidesPerView: 1,
      spaceBetween: 20,
      watchOverflow: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

  </script>
</body>

</html>
