extends /_src/_pug/_extend_html5

block append css
    //- link(href=`${pathSettingHtml}css/oneEye.css`, type='text/css', rel='stylesheet')

block contents
    #container.pageClassSub
        #content(role='main')
            .content-inner
                nav.breadcrumb
                    .location-area
                        ol.location-content
                            li
                                a(href="#") 홈
                            li
                                a(href="#") 문화체험
                            li
                                a.on(href="#") 문화공간 · 단체
                    .share-area
                        ul.share-content
                            li
                                a.link-share(href="#")
                            li
                                a.link-print(href="#")
                section.section-main
                    .section-inner
                        .title-area
                            h1.title-h1 문화공간 · 단체
                                |
                                span.txt 지역별 다양한 문화관련 시설들을 공유합니다.

                section.section-map

block append script
    script.    

