@charset "UTF-8";
/*! mobile 버전 - css */
/*! pc & tablet 버전 - css */
/*! form - input text */
.input-txt {
  position: relative;
  background-color: #ffffff; }
  .input-txt input {
    display: block;
    width: 100%;
    font-size: 17px;
    font-size: 1.7rem;
    height: 50px;
    height: 5rem;
    line-height: 50px;
    line-height: 5rem;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0;
    color: #222222;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
    .input-txt input::-ms-clear {
      display: none; }
    .input-txt input:focus {
      border-bottom: 1px solid #222222;
      outline: 0; }
  .input-txt.line-all input {
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    padding: 0px 0px 0px 15px;
    padding: 0rem 0rem 0rem 1.5rem;
    height: 50px;
    height: 5rem;
    line-height: 50px;
    line-height: 5rem;
    border-radius: 5px;
    border-radius: 0.5rem; }
    .input-txt.line-all input:focus {
      border: 1px solid #222222;
      outline: 0; }
  .input-txt.btn-type01 {
    position: relative; }
    .input-txt.btn-type01 input {
      background-color: #f5f5f5;
      border: 1px solid #f5f5f5;
      padding-right: 50px;
      padding-right: 5rem; }
      .input-txt.btn-type01 input:focus {
        outline: 0;
        background-color: #ffffff;
        -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.1);
                box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.1); }
    .input-txt.btn-type01 .btn-input-search {
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px 15px 15px 15px;
      padding: 1.5rem 1.5rem 1.5rem 1.5rem; }
      .input-txt.btn-type01 .btn-input-search .ico-input-search {
        display: block;
        width: 20px;
        width: 2rem;
        height: 20px;
        height: 2rem;
        background: url("../images/common/ico_search_input_mo.png") no-repeat center center;
        background-size: 20px 20px;
        background-size: 2rem 2rem; }
    .input-txt.btn-type01 .btn-input-del {
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px 15px 15px 15px;
      padding: 1.5rem 1.5rem 1.5rem 1.5rem; }
      .input-txt.btn-type01 .btn-input-del .ico-input-del {
        display: block;
        position: relative;
        width: 20px;
        width: 2rem;
        height: 20px;
        height: 2rem;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
        .input-txt.btn-type01 .btn-input-del .ico-input-del:before {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -1px;
          background-color: gray;
          -webkit-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          transition: all .3s ease-out; }
        .input-txt.btn-type01 .btn-input-del .ico-input-del:after {
          content: '';
          width: 2px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -1px;
          background-color: gray;
          -webkit-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          transition: all .3s ease-out; }

.input-txt input::-webkit-input-placeholder {
  color: #cccccc;
  background: transparent;
  opacity: 1;
  font-weight: 400 !important; }

.input-txt input::-moz-placeholder {
  color: #cccccc;
  background: transparent;
  opacity: 1;
  font-weight: 400 !important; }

.input-txt input:-ms-input-placeholder {
  color: #cccccc;
  background: transparent;
  opacity: 1;
  font-weight: 400 !important; }

.input-txt input::-ms-input-placeholder {
  color: #cccccc;
  background: transparent;
  opacity: 1;
  font-weight: 400 !important; }

.input-txt input::placeholder {
  color: #cccccc;
  background: transparent;
  opacity: 1;
  font-weight: 400 !important; }

/*! 파일첨부 스타일 */
.input-file-type01 {
  position: relative;
  padding-right: 60px;
  padding-right: 6rem; }
  .input-file-type01 .input-file {
    position: relative;
    width: 100%;
    height: 50px;
    height: 5rem;
    z-index: 2;
    opacity: 0;
    cursor: pointer; }
  .input-file-type01 .input-file-label {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    width: -webkit-calc(100% - 6rem);
    width: calc(100% - 6rem);
    padding: 15px 0px 15px 20px;
    padding: 1.5rem 0rem 1.5rem 2rem;
    border: 1px solid gray;
    color: gray;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 300;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
    .input-file-type01 .input-file-label:after {
      content: '';
      display: block;
      width: 50px;
      width: 5rem;
      height: 50px;
      height: 5rem;
      position: absolute;
      top: -1px;
      top: -0.1rem;
      right: -60px;
      right: -6rem;
      background: #f5f5f5 url("../images/common/ico_add_file.png") no-repeat center center; }
  .input-file-type01 .input-file:hover + .input-file-label,
  .input-file-type01 .input-file:focus + .input-file-label {
    border: 1px solid black; }

/*# sourceMappingURL=../../sass_maps/css_partials/component_input.css.map */
