@charset "UTF-8";
/*! mobile 버전 - css */
/*! pc & tablet 버전 - css */
/*! 폼 - validation 컨테이너 */
.label-area {
  display: block;
  padding: 0px 0px 4px 0px;
  padding: 0rem 0rem 0.4rem 0rem; }
  .label-area .label-txt {
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #222222; }

.form-validation-message {
  padding: 9px 0px 0px 0px;
  padding: 0.9rem 0rem 0rem 0rem;
  font-size: 13px;
  font-size: 1.3rem; }

.form-validation-container.pass .form-validation-message {
  color: blue; }

.form-validation-container.error .form-validation-message {
  color: #e1002a; }

.form-validation-container.readonly, .form-validation-container.disabled {
  opacity: 1;
  pointer-events: none;
  position: relative;
  z-index: -1; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-validation-container.readonly, .form-validation-container.disabled {
      /* IE10+ CSS styles go here */ }
      .form-validation-container.readonly:after, .form-validation-container.disabled:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #ffffff;
        opacity: 0;
        z-index: 1; } }
  .form-validation-container.readonly .label-area .label-txt, .form-validation-container.disabled .label-area .label-txt {
    color: #999999; }
  .form-validation-container.readonly .input-txt input, .form-validation-container.disabled .input-txt input {
    color: #999999;
    pointer-events: none; }
  .form-validation-container.readonly .input-txt.btn-type01 input, .form-validation-container.disabled .input-txt.btn-type01 input {
    background-color: #eeeeee;
    border: 1px solid #eeeeee; }
  .form-validation-container.readonly .input-txt.btn-type01 .btn-input-search .ico-input-search, .form-validation-container.disabled .input-txt.btn-type01 .btn-input-search .ico-input-search {
    background-image: url("../images/common/ico_search_input_disabled_mo.png"); }
  .form-validation-container.readonly input[disabled], .form-validation-container.disabled input[disabled] {
    background-color: #ffffff; }
  .form-validation-container.readonly input[readonly]:focus, .form-validation-container.disabled input[readonly]:focus {
    border-color: #dddddd; }

/*! 폼 - 정렬 컨테이너 */
/*! 폼 - 정렬 */
.form-align-type01.spacebetween-equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -10px;
  margin-right: -1rem; }
  .form-align-type01.spacebetween-equal .form-col {
    margin-right: 10px;
    margin-right: 1rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%; }
  .form-align-type01.spacebetween-equal .form-col.flex-end-type01 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 16px;
    padding-bottom: 1.6rem; }
    .form-align-type01.spacebetween-equal .form-col.flex-end-type01 [class^="input-"] {
      margin-right: 20px;
      margin-right: 2rem; }
      .form-align-type01.spacebetween-equal .form-col.flex-end-type01 [class^="input-"]:last-child {
        margin-right: 0; }

.form-align-type01 + .form-align-type01 {
  margin-top: 30px;
  margin-top: 3rem; }

/*# sourceMappingURL=../../sass_maps/css_partials/component_formGroup.css.map */
