@charset "UTF-8";
/*! mobile 버전 - css */
/*! pc & tablet 버전 - css */
.drop-down-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative; }
  .drop-down-align.open {
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.1);
            box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.1); }
    .drop-down-align.open .drop-down-btn {
      border: 1px solid #222222;
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .drop-down-align.open .drop-down-ico {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      margin-top: 0; }
    .drop-down-align.open .drop-down-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column; }
  .drop-down-align.top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-flow: column-reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse; }
    .drop-down-align.top .drop-down-ico {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      margin-top: 0; }
    .drop-down-align.top.open .drop-down-btn {
      border: 1px solid #222222;
      border-radius: 5px;
      border-radius: 0.5rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
    .drop-down-align.top.open .drop-down-ico {
      margin-top: -7px;
      margin-top: -0.7rem;
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg); }
    .drop-down-align.top.open .drop-down-list {
      top: auto;
      bottom: -webkit-calc(100% - 1px);
      bottom: calc(100% - 1px);
      border: 1px solid #222222;
      border-bottom: 0;
      border-radius: 5px;
      border-radius: 0.5rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-flow: column-reverse;
          -ms-flex-flow: column-reverse;
              flex-flow: column-reverse; }
  .drop-down-align.disabled {
    pointer-events: none;
    position: relative;
    z-index: -1; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .drop-down-align.disabled {
        /* IE10+ CSS styles go here */ }
        .drop-down-align.disabled:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: #ffffff;
          opacity: 0;
          z-index: 1; } }
    .drop-down-align.disabled .drop-down-btn {
      background-color: #f5f5f5; }
    .drop-down-align.disabled .drop-down-index {
      color: #cccccc; }
    .drop-down-align.disabled .drop-down-ico {
      border-top: 2px solid #999999;
      border-top: 0.2rem solid #999999;
      border-right: 2px solid #999999;
      border-right: 0.2rem solid #999999; }

.drop-down-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 11px 15px 11px 15px;
  padding: 1.1rem 1.5rem 1.1rem 1.5rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
  border-radius: 0.5rem; }

.drop-down-index {
  text-align: left;
  font-size: 17px;
  font-size: 1.7rem;
  color: #999999;
  line-height: 1.58; }

.drop-down-ico {
  display: block;
  width: 10px;
  width: 1rem;
  height: 10px;
  height: 1rem;
  border-top: 2px solid #000000;
  border-top: 0.2rem solid #000000;
  border-right: 2px solid #000000;
  border-right: 0.2rem solid #000000;
  margin-top: -7px;
  margin-top: -0.7rem;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.drop-down-list {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: -webkit-calc(100% - 1px);
  top: calc(100% - 1px);
  border: 1px solid #222222;
  background-color: #ffffff;
  border-top: 0;
  border-radius: 5px;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.drop-down-link {
  text-align: left;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 14px 15px 14px 15px;
  padding: 1.4rem 1.5rem 1.4rem 1.5rem;
  border-radius: 5px;
  border-radius: 0.5rem; }
  .drop-down-link:focus, .drop-down-link:hover {
    background-color: #f9f9f9; }

.drop-down-txt {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #222222; }

/*# sourceMappingURL=../../sass_maps/css_partials/component_dropdowns.css.map */
