@charset "UTF-8";
/*! mobile 버전 - css */
/*! pc & tablet 버전 - css */
/*! input - checkbox */
.input-checkbox {
  display: inline-block; }
  .input-checkbox input {
    border: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute; }
  .input-checkbox label {
    display: inline-block;
    position: relative;
    min-width: 20px;
    min-width: 2rem;
    min-height: 20px;
    min-height: 2rem;
    padding-top: 1px;
    padding-top: 0.1rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .input-checkbox .txt {
    display: inline-block;
    color: gray;
    font-size: 16px;
    font-size: 1.6rem; }
  .input-checkbox label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    width: 2rem;
    height: 20px;
    height: 2rem;
    margin-top: -10px;
    margin-top: -1rem;
    border: 1px solid gray;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .input-checkbox label:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    left: 0.5rem;
    margin-top: -4px;
    margin-top: -0.4rem;
    width: 9px;
    width: 0.9rem;
    height: 6px;
    height: 0.6rem;
    border-top: 2px solid gray;
    border-top: 0.2rem solid gray;
    border-right: 2px solid gray;
    border-right: 0.2rem solid gray;
    -webkit-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
            transform: rotate(130deg);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .input-checkbox.right label {
    padding-left: 30px;
    padding-left: 3rem; }
  .input-checkbox.left label {
    padding-right: 30px;
    padding-right: 3rem; }
  .input-checkbox.left label:before {
    left: auto;
    right: 0; }
  .input-checkbox.left label:after {
    left: auto;
    right: 5px;
    right: 0.5rem; }
  .input-checkbox.up label {
    padding-bottom: 25px;
    padding-bottom: 2.5rem; }
  .input-checkbox.up label:before {
    top: auto;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    margin-left: -1rem;
    margin-top: 0; }
  .input-checkbox.up label:after {
    top: auto;
    bottom: 8px;
    bottom: 0.8rem;
    left: 50%;
    margin-left: -5px;
    margin-left: -0.5rem;
    margin-top: 0; }
  .input-checkbox.down label {
    padding-top: 25px;
    padding-top: 2.5rem; }
  .input-checkbox.down label:before {
    top: 0;
    left: 50%;
    margin-left: -10px;
    margin-left: -1rem;
    margin-top: 0; }
  .input-checkbox.down label:after {
    top: 6px;
    top: 0.6rem;
    left: 50%;
    margin-left: -5px;
    margin-left: -0.5rem;
    margin-top: 0; }
  .input-checkbox input.checked + label:before,
  .input-checkbox input:checked + label:before {
    background-color: blue;
    border-color: blue; }
  .input-checkbox input.checked + label:after,
  .input-checkbox input:checked + label:after {
    border-color: #ffffff; }
  .input-checkbox input.checked + label .txt,
  .input-checkbox input:checked + label .txt {
    color: gray; }
  .input-checkbox input.disabled + label:before,
  .input-checkbox input:disabled + label:before {
    background-color: lightgray;
    border-color: gray; }
  .input-checkbox input.disabled + label:after,
  .input-checkbox input:disabled + label:after {
    border-color: #ffffff; }

/*# sourceMappingURL=../sass_maps/component_checkbox.css.map */
