@charset "UTF-8";
/*! mobile 버전 - css */
/*! pc & tablet 버전 - css */
/*!
 * component
 * Icon - css Type
 * Arrow
 */
.ico-arrow {
  width: 10px;
  height: 10px;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000; }
  .ico-arrow.top {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .ico-arrow.down {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
  .ico-arrow.left {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .ico-arrow.right {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .ico-arrow.top-left {
    -webkit-transform: rotate(-90deg) skew(-10deg, -10deg);
        -ms-transform: rotate(-90deg) skew(-10deg, -10deg);
            transform: rotate(-90deg) skew(-10deg, -10deg); }
  .ico-arrow.top-right {
    -webkit-transform: rotate(0) skew(-10deg, -10deg);
        -ms-transform: rotate(0) skew(-10deg, -10deg);
            transform: rotate(0) skew(-10deg, -10deg); }
  .ico-arrow.bottom-left {
    -webkit-transform: rotate(180deg) skew(-10deg, -10deg);
        -ms-transform: rotate(180deg) skew(-10deg, -10deg);
            transform: rotate(180deg) skew(-10deg, -10deg); }
  .ico-arrow.bottom-right {
    -webkit-transform: rotate(90deg) skew(-10deg, -10deg);
        -ms-transform: rotate(90deg) skew(-10deg, -10deg);
            transform: rotate(90deg) skew(-10deg, -10deg); }
  .ico-arrow.top-narrow {
    -webkit-transform: rotate(-45deg) skew(-15deg, -15deg);
        -ms-transform: rotate(-45deg) skew(-15deg, -15deg);
            transform: rotate(-45deg) skew(-15deg, -15deg); }
  .ico-arrow.top-wide {
    -webkit-transform: rotate(-45deg) skew(7deg, 7deg);
        -ms-transform: rotate(-45deg) skew(7deg, 7deg);
            transform: rotate(-45deg) skew(7deg, 7deg); }

.ico-triangle {
  width: 0;
  height: 0; }
  .ico-triangle.up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid #000000; }
  .ico-triangle.down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #000000; }
  .ico-triangle.left {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 16px solid #000000; }
  .ico-triangle.right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #000000; }

/*!
 * component
 * Icon - css Type
 * Line
 */
.ico-line {
  position: relative;
  width: 16px;
  height: 16px; }
  .ico-line:before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px; }
  .ico-line:after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px; }
  .ico-line.more:before {
    background-color: gray; }
  .ico-line.more:after {
    background-color: gray; }
  .ico-line.close {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
    .ico-line.close:before {
      background-color: gray; }
    .ico-line.close:after {
      background-color: gray; }

/*!
 * component
 * Icon - css Type
 * etc
 */
.ico-delete {
  position: relative;
  width: 16px;
  width: 1.6rem;
  height: 16px;
  height: 1.6rem;
  background-color: #b8b8b8;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .ico-delete .line {
    display: inline-block;
    position: relative;
    width: 10px;
    width: 1rem;
    height: 10px;
    height: 1rem;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
    .ico-delete .line:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background-color: #ffffff; }
    .ico-delete .line:after {
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -1px;
      background-color: #ffffff; }

/*!
 * component
 * Icon - image Type
 * default, sprite
 */
.ico-download-black {
  width: 18px;
  width: 1.8rem;
  height: 17px;
  height: 1.7rem;
  background-image: url("../images/common/ico_download_dark.png");
  background-size: 18px 17px;
  background-size: 1.8rem 1.7rem; }

.ico-download-black02 {
  background-image: url(../images/common/sprite_pc.png);
  background-position: 0px 0px;
  background-position: 0rem 0rem;
  width: 18px;
  width: 1.8rem;
  height: 17px;
  height: 1.7rem;
  background-size: 18px 17px;
  background-size: 1.8rem 1.7rem; }

/*!
 * component
 * Icon - SVG Type
 * Data url, Background Image
 */
.ico-search {
  width: 20px;
  width: 2rem;
  height: 20px;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2245.125%22%20height%3D%2245.304%22%20viewBox%3D%220%200%2045.125%2045.304%22%3E%20%20%3Cdefs%3E %20%20%20%20%3Cstyle%3E %20%20%20%20%20%20.cls-1%20%7B %20%20%20%20%20%20%20%20fill%3A%20none%3B %20%20%20%20%20%20%20%20stroke%3A%20%23222%3B %20%20%20%20%20%20%20%20stroke-linecap%3A%20round%3B %20%20%20%20%20%20%20%20stroke-linejoin%3A%20round%3B %20%20%20%20%20%20%20%20stroke-width%3A%204px%3B %20%20%20%20%20%20%7D %20%20%20%20%3C%2Fstyle%3E %20%20%3C%2Fdefs%3E %20%20%3Cg%20id%3D%22icon_%EA%B2%80%EC%83%89%22%20transform%3D%22translate(2.296%202.296)%22%3E %20%20%20%20%3Cellipse%20id%3D%22%ED%83%80%EC%9B%90_27%22%20data-name%3D%22%ED%83%80%EC%9B%90%2027%22%20class%3D%22cls-1%22%20cx%3D%2215.565%22%20cy%3D%2215.571%22%20rx%3D%2215.565%22%20ry%3D%2215.571%22%20transform%3D%22matrix(0.161%2C%20-0.987%2C%200.987%2C%200.161%2C%200%2C%2030.722)%22%2F%3E %20%20%20%20%3Cline%20id%3D%22%EC%84%A0_42%22%20data-name%3D%22%EC%84%A0%2042%22%20class%3D%22cls-1%22%20x1%3D%2210.122%22%20y1%3D%2210.122%22%20transform%3D%22translate(29.878%2030.057)%22%2F%3E %20%20%3C%2Fg%3E %3C%2Fsvg%3E");
  background-size: 20px 20px;
  background-size: 2rem 2rem; }

.ico-all-menu {
  width: 20px;
  width: 2rem;
  height: 20px;
  height: 2rem;
  background-image: url("../images/common/ico_all_menu.svg");
  background-size: 20px 20px;
  background-size: 2rem 2rem; }

/*!
 * component
 * tag
 * default
 */

/*# sourceMappingURL=../../sass_maps/css_partials/component_icon.css.map */
