@charset "UTF-8";
/*! mobile 버전 - css */
/*! pc & tablet 버전 - css */
/*! input - radio */
.input-radio {
  display: inline-block; }
  .input-radio input {
    border: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute; }
  .input-radio label {
    display: inline-block;
    position: relative;
    min-width: 20px;
    min-width: 2rem;
    min-height: 20px;
    min-height: 2rem;
    padding-top: 1px;
    padding-top: 0.1rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .input-radio .txt {
    display: inline-block;
    color: gray;
    font-size: 16px;
    font-size: 1.6rem; }
  .input-radio label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    width: 2rem;
    height: 20px;
    height: 2rem;
    margin-top: -10px;
    margin-top: -1rem;
    border: 1px solid gray;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .input-radio label:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    background-color: gray;
    left: 6px;
    left: 0.6rem;
    width: 8px;
    width: 0.8rem;
    height: 8px;
    height: 0.8rem;
    margin-top: -4px;
    margin-top: -0.4rem;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .input-radio.right label {
    padding-left: 30px;
    padding-left: 3rem; }
  .input-radio.left label {
    padding-right: 30px;
    padding-right: 3rem; }
  .input-radio.left label:before {
    left: auto;
    right: 0; }
  .input-radio.left label:after {
    left: auto;
    right: 6px;
    right: 0.6rem; }
  .input-radio.up label {
    padding-bottom: 25px;
    padding-bottom: 2.5rem; }
  .input-radio.up label:before {
    top: auto;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    margin-left: -1rem;
    margin-top: 0; }
  .input-radio.up label:after {
    top: auto;
    bottom: 6px;
    bottom: 0.6rem;
    left: 50%;
    margin-left: -4px;
    margin-left: -0.4rem;
    margin-top: 0; }
  .input-radio.down label {
    padding-top: 25px;
    padding-top: 2.5rem; }
  .input-radio.down label:before {
    top: 0;
    left: 50%;
    margin-left: -10px;
    margin-left: -1rem;
    margin-top: 0; }
  .input-radio.down label:after {
    top: 6px;
    top: 0.6rem;
    left: 50%;
    margin-left: -4px;
    margin-left: -0.4rem;
    margin-top: 0; }
  .input-radio input.checked + label:before,
  .input-radio input:checked + label:before {
    background-color: blue;
    border-color: blue; }
  .input-radio input.checked + label:after,
  .input-radio input:checked + label:after {
    background-color: #ffffff; }
  .input-radio input.disabled + label:before,
  .input-radio input:disabled + label:before {
    background-color: lightgray;
    border-color: gray; }
  .input-radio input.disabled + label:after,
  .input-radio input:disabled + label:after {
    background-color: #ffffff; }

/*# sourceMappingURL=../../sass_maps/css_partials/component_radio.css.map */
