- var pathSettingHtml = locals['pathSettingHtml'];
block vars

//- 실제 구축시 footer-sample01 클래스 제거 하고 사용하기
footer#footer.footer-sample01
    .footer-container
        .footer-content
            .footer-align01
                //- footer 기타 링크
                .footer-etc-container
                    ul.footer-etc-list
                        li.footer-etc-item
                            a(href="#none").footer-etc-link
                                span.footer-etc-txt 이용약관
                        li.footer-etc-item
                            a(href="#none").footer-etc-link
                                span.footer-etc-txt 개인정보처리방침
                        li.footer-etc-item
                            a(href="#none").footer-etc-link
                                span.footer-etc-txt A/S 신청
                        li.footer-etc-item
                            a(href="#none").footer-etc-link
                                span.footer-etc-txt 사이트맵
                        li.footer-etc-item
                            a(href="#none").footer-etc-link
                                span.footer-etc-txt 사업자 정보확인
                        li.footer-etc-item
                            a(href="#none").footer-etc-link
                                span.footer-etc-txt 무단이메일 수집거부
                //- footer sns
                .footer-sns-container
                    ul.footer-sns-list
                        li.footer-sns-item
                            a(href="#none").footer-sns-link
                                span.hide-txt 블로그
                                i.footer-sns-ico01(aria-hidden="true")
                        li.footer-sns-item
                            a(href="#none").footer-sns-link
                                span.hide-txt 카카오스토리
                                i.footer-sns-ico02(aria-hidden="true")
                        li.footer-sns-item
                            a(href="#none").footer-sns-link
                                span.hide-txt 유투브
                                i.footer-sns-ico03(aria-hidden="true")
                        li.footer-sns-item
                            a(href="#none").footer-sns-link
                                span.hide-txt 인스타그램
                                i.footer-sns-ico04(aria-hidden="true")
            .footer-align02
                //- footer 회사정보
                .footer-info-container
                    ul.footer-info-list
                        li.footer-info-item
                            span.footer-info-txt (주)그레이트 북스
                            span.footer-info-txt 대표이사 김경택
                        li.footer-info-item
                            span.footer-info-txt 개인정보관리책임자 김도희
                            span.footer-info-txt F. 02-3143-2186
                        li.footer-info-item
                            span.footer-info-txt 사업자등록번호 105-86-57350
                        li.footer-info-item
                            span.footer-info-txt 통신판매번호 2016-서울구로-1236
                        li.footer-info-item
                            span.footer-info-txt 서울시 구로구 디지털로31길 20 에이스테크노타워5차 12층
                        li.footer-info-item
                            span.footer-info-txt Copyright Greatbooks Co., Ltd. All Rights Reserved
                //- footer util
                .footer-util-container
                    .footer-util-list
                        .footer-logo-continer
                            a(href="#none").footer-logo-btn
                                span.hide-txt 그레이트 BOOKS
                                i.footer-logo(aria-hidden="true")
                        .footer-family-site-continer
                            .drop-down-container
                                //- .drop-down-align.top 영역에 open 클래스
                                .drop-down-align.top
                                    button(type="button").drop-down-btn
                                        span.drop-down-index Family Site
                                        i.drop-down-ico(aria-hidden="true")
                                    ul.drop-down-list
                                        li.drop-down-item
                                            a(href="#none").drop-down-link
                                                span.drop-down-txt 스마트 리딩
