@charset "utf-8";

//문화TV
.visual-top {
    &::after {
        content:'';
        display: block;
        width:100%;
        @include rem(height, 15px);
        @include rem(margin-top, 80px);
        background-color: #f5f5f5;
    }
}

.visual-area {
    display:flex;
    @include rem(height, 670px);

    .visual-content-box {
        display:inline-flex;
        flex-direction: column;
    }
    .video {

        .link-content-list {
            position:relative;
            display:flex;
            @include rem(width, 838px);
            // @include rem(height, 471px);
            background:lightsalmon;

            img {width:100%;}
        }
    }

    .visual-text-box {
        border:1px solid #ddd;
        border-right:0;

        @include rem(width, 838px);
        @include rem(padding, 39px 32px);

        .category {
            @include rem(padding, 3px 11px);
            @include rem(font-size, 13px);
            color:#222;
            @include rem(border-radius, 13.5px);
            border:1px solid #222;
            background-color:#fff;
            box-sizing: border-box;
        }
    }

    &.type-slider {
        
        .title-h3 {
            @include rem(margin-top, 12px);
        }

        .item {
            display:flex;
        }

        .visual-text-box {
            @include rem(width, 440px);
            padding:0;
            @include rem(padding-left, 40px);
            border:none;

            .title-h3 + .sub-txt {
                width:auto;
            }
        }

        .visual-category {
            display: flex;
        
            li {
                @include rem(margin-right, 8px);
    
                &:nth-of-type(even) .txt {
                    color:#fff;
                    background-color: #222;
                }
            }
    
            .txt {
                display: inline-flex;
                @include rem(padding, 3px 12px);
                @include rem(font-size, 13px);
                @include rem(border-radius, 13.5);
                line-height: 1.5;
                letter-spacing: -.65px;
                color:#222;
                background-color:#fff;
                border:1px solid #222;
    
                
            }
        }

        .hashtag {
            display:flex;
            flex-wrap: wrap;
            @include rem(margin-top, 8px);
            @include rem(margin-bottom, 32px);

            li {
                @include rem(padding, 4px 8px);
                @include rem(margin-top, 8px);
                @include rem(margin-right, 8px);
                background:#eee;

                & + li {
                    
                }
                .txt {
                    @include rem(font-size, 13px);
                    line-height: 1.38;
                    letter-spacing: -0.33px;
                    color:#222;
                }

            }
        }

        .info {
            display:flex;
            @include rem(width, 184px);
            justify-content: space-between;
            
            & + .info {
                @include rem(margin-top, 12px);
            }

            dt, dd {
                width:50%;
                @include rem(font-size, 14px);
                letter-spacing: -0.35px;
                color:#222;
            }

            dt {
                font-weight: bold;
            }
        }

    }
}

.thumbnail-area {
    display:inline-flex;
    // @include rem(width, 441px);
    // @include rem(padding, 32px 32px 69px 32px);
    border:1px solid #ddd;

    .thumbnail-list {
        display: flex;
        // width:100%;
        @include rem(width, 376px);
        // @include rem(height, 569px);
        @include rem(margin-top, 32px);
        flex-direction: column;

        .swiper-slide {
            display: flex;
            // width:100%;
            // height:calc((100%) / 5) !important;
            @include rem(height, 101px !important);
            justify-content: center;

        }
    }

    button {
        display:flex;
    }

    .thumb-img {
        display:inline-block;
        @include rem(width, 180px);
        @include rem(height, 101px);

        img {
            width:100%;
        }
    }

    .thumb-text {
        text-align: left;
        @include rem(padding-left, 16px);

        .sub-category {
            display:inline-block;
            @include rem(padding, 3px 7px);
            @include rem(font-size, 10px);
            @include rem(border-radius, 11.5px);
            line-height: 1.5;
            letter-spacing: -0.25px;
            border: 1px solid #222;
            color:#222;
        }

        .txt {
            @include rem(width, 180px);
            @include rem(margin, 4px 0 2px 0);
            @include rem(font-size, 16px);
            line-height: 1.5;
            color:#222;
        }
    }
}

.slide-contents {
    @include rem(margin-top, 80px);

    &:last-child {
        @include rem(margin-bottom, 120px);
    }
    
    .swiper-wrapper {
        @include rem(padding-bottom, 103px);
    }

    //- 공통으로 따로 만듦 .box-thumb로 교체함 (prototype.scss)
    // .thumb-img {
    //     position: relative;
    //     display: block;
    //     @include rem(width, 290px);
    //     @include rem(height, 163px);
        
    //     img {width:100%; height:100%;}

    //     .ico-play{
    //         @include rem(width, 40px);
    //         @include rem(height, 40px);
    //     }
    // }

    // .category {
    //     display: flex;

    //     li {
    //         @include rem(margin-top, 16px);
    //         @include rem(margin-right, 8px);

    //         &:nth-of-type(even) .txt {
    //             color:#fff;
    //             background-color: #222;
    //         }
    //     }

    //     .txt {
    //         display: inline-flex;
    //         @include rem(padding, 3px 12px);
    //         @include rem(font-size, 13px);
    //         @include rem(border-radius, 13.5);
    //         line-height: 1.5;
    //         letter-spacing: -.65px;
    //         color:#222;
    //         background-color:#fff;
    //         border:1px solid #222;

            
    //     }
    // }

    // p.txt {
    //     @include rem(width, 290px);
    //     @include rem(margin-top, 8px);
    //     @include rem(margin-bottom, 16px);
    //     @include rem(font-size, 20px);
    //     line-height: 1.5;
    //     color:#222;
    // }

    // p.sub-txt {
    //     @include rem(width, 290px);
    //     @include rem(font-size, 14px);
    //     line-height: 1.43;
    //     letter-spacing: -.35px;
    //     font-weight: 300;
    //     color:#999;
    // }

    .swiper-button-area {
        left:auto;
        right:0;
        @include rem(bottom, -2px);
        @include rem(width, 146px);
        @include rem(height, 54px);
        transform: translateX(0);

        .swiper-pagination {
            top:auto;
            @include rem(bottom, 21px);
        }

        .swiper-button-prev,
        .swiper-button-next {
            bottom:auto;
            @include rem(width, 54px);
            @include rem(height, 54px);
            background: url('../images/icons/ico_slide_arrow_circle.png') no-repeat 0 0;
            background-size: cover;
        }
    }

    .swiper-progress {
        top:auto;
        @include rem(bottom, 27px);
        @include rem(width, 1060px);
        height:2px;
        background:#ddd;

        .swiper-pagination-progressbar-fill {
            background:#ff6742;
        }
    }
}



@media (max-width:1279px) {
    .visual-top::after {
        @include rem(margin-top, 40px);
    }

    .content-inner,
    .slide-contents {
        @include rem(margin-top, 40px);
    }

    .visual-area {
        display:block;
        height:auto;
    }

    .visual-area .visual-text-box {
        width:100%;
        border:0;
        @include rem(padding, 20px);
    }

    .visual-area .video .link-content-list {
        width:100%;
    }

    .thumbnail-area {
        display: inherit;
        @include rem(padding, 0 23px 40px 23px);
        border:0;

        .thumbnail-list {
            width: auto;
            // display: block;
            flex-direction:unset;

            .swiper-slide {
                width:auto;
                height:100% !important;
                margin-top:0 !important;
                justify-content: unset;
            }

        }
        .thumb-text {
            display:none;
        }
        .thumb-img {
            width:100%;
            height:auto;
        }

        .swiper-button-area {
            bottom:0;
        }
    }

    .title-h3 + .sub-txt {
        width:auto;
    }
}