@charset "utf-8";

@import 'dev/_src/_scss/_setting';

// **********************************
// 기본 영역
// _extend_html5.pug 파일의 block css 영역
// if NODE_ENV === 'development' 영역의 css와 동일하게 세팅하기.
// **********************************
@import '../css_partials/font';
@import '../css_partials/reset';

// @import '../css_partials/jquery.scrollbar';
@import '../css_partials/swiper.5.4.5';


@import '../css_partials/component_common';
@import '../css_partials/componentlist';

@import '../css_partials/header';
@import '../css_partials/footer';

// **********************************
// 서브 컨텐츠 영역
// 서브 카테고리 css는 각 페이지마다 불어오는 것을 권장 하지만
// common.css 에 다 넣어야 할때 아래에 @import 하면 됩니다.
// **********************************
// 예) @import '../css/서브카테고리';


.content-inner {
    @include rem(margin-top, 80px);
}
.section-inner {
    @include rem(width, 1280px);
    margin:0 auto;
}

//텍스트 말줄임
.ellipsis {
    // width: 각 요소에 적용
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    &.type02 {
        -webkit-line-clamp: 2;
    }
    &.type03 {
        -webkit-line-clamp: 3;
    }
  }