extends /_src/_pug/_extend_html5

block append css
    //- link(href=`${pathSettingHtml}css/카테고리별.css`, type='text/css', rel='stylesheet')

block contents
    #container.pageClassSub
        #content(role='main')
            | 컨텐츠 시작
