extends /_src/_pug/_extend_html5

block append css
    //- link(href=`${pathSettingHtml}css/oneEye.css`, type='text/css', rel='stylesheet')

block contents
    #container.pageClassSub
        #content(role='main')
            .content-inner
                nav.breadcrumb
                    .location-area
                        ol.location-content
                            li
                                a(href="#") 홈
                            li
                                a(href="#") 문화공감
                            li
                                a(href="#") 공감마당
                            li
                                a(href="#") 카드뉴스
                    .share-area
                        ul.share-content
                            li
                                a.link-share(href="#")
                            li
                                a.link-print(href="#")

                section.section-main.line-gray
                    .section-full-inner
                        .title-area
                            h1.title-h1 카드뉴스
                                |
                                span.txt 다양한 문화소식을 짧은 글과 이미지로 쉽고 간편하게 알려드립니다.
                        .slide-area
                            .auto-play-swiper
                                .swiper-container
                                    ul.swiper-wrapper
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px [문화릴레이티켓] 사라지는 모든 것은 극적이다.
                                                    p.txt.size02.mont 14 2022.09.20
                                        
                                    .swiper-button-area
                                        .swiper-contr-area
                                            .swiper-button-prev
                                            .swiper-play-btn.pause
                                            .swiper-button-next
                                        .swiper-pagination

                section.search-result
                    .section-inner
                        .area-util
                            .align-box
                                .txt-total 총 <strong>107</strong>건
                                .radio-box-wrap
                                    .radio-box
                                        input#radio01(type="radio" name="test" checked)
                                        label.txt-radio(for="radio01")
                                            span.txt 제목
                                    .radio-box
                                        input#radio02(type="radio" name="test")
                                        label.txt-radio(for="radio02")
                                            span.txt 제목+내용
                                    .radio-box
                                        input#radio03(type="radio" name="test")
                                        label.txt-radio(for="radio03")
                                            span.txt 작성자
                            .list-search
                                .search-input
                                    input(type="text" placeholder="검색어를 입력하세요.")
                                    button(type="button").btn-search
                                        span.hide-txt 검색
                        ul.area-thumb-list
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            li.list
                                a(href="#none").box-thumb
                                    .thumb-img
                                        img(src="../../images/thumb_img02.jpg", alt="")
                                    .thumb-txt
                                        p.tit.size01.ellipsis.type02 16 지원의 음악과 미술이 함께하는 콘서트지원의 음악과 미술이 함께하는 콘서트
                                        p.txt.size01.mont 2022.10.06 ~ 2022.10.07
                            

                        .area-pagenation
                            button.btn-first(type="button")
                                span.hide-txt 맨 앞으로
                            button.btn-prev(type="button")
                                span.hide-txt 앞으로
                            .wrap-number
                                button.btn-num.on(type="button")
                                    span.txt 1
                                button.btn-num(type="button")
                                    span.txt 2
                                button.btn-num(type="button")
                                    span.txt 3
                                button.btn-num(type="button")
                                    span.txt 4
                                button.btn-num(type="button")
                                    span.txt 5
                                button.btn-num(type="button")
                                    span.txt 6
                                button.btn-num(type="button")
                                    span.txt 7
                                button.btn-num(type="button")
                                    span.txt 8
                                button.btn-num(type="button")
                                    span.txt 9
                                button.btn-num(type="button")
                                    span.txt 10
                            button.btn-next(type="button")
                                span.hide-txt 뒤로
                            button.btn-last(type="button")
                                span.hide-txt 맨뒤로


block append script
    script.
        // UI 확인용 Swiper
        var swiper = new Swiper('.auto-play-swiper .swiper-container', {
            slidesPerView: 2,
            spaceBetween: 10,
            watchOverflow: true,
            disableOnInteraction: true,
            pauseOnMouseEnter: true,
            autoplay: {
                disableOnInteraction: false
            },
            pagination: {
                el: '.auto-play-swiper .swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.auto-play-swiper .swiper-button-next',
                prevEl: '.auto-play-swiper .swiper-button-prev',
            },
            breakpoints: {
                1025: {
                    slidesPerView: 4,
                    spaceBetween: 40,
                },
            }
        });

        var isPlay = false;
        var swiperPlayBtn = $('.swiper-play-btn');

        swiperPlayBtn.on('click', function(e) {
            if(isPlay) {
                swiperPlayBtn.removeClass('pause');
                swiper.autoplay.stop();
                isPlay = false;
            } else if(!isPlay) {
                swiperPlayBtn.addClass('pause');
                swiper.autoplay.start();
                isPlay = true;
            }
        });