extends /_src/_pug/_extend_html5

block append css
    link(href=`${pathSettingHtml}css/culturetv.css`, type='text/css', rel='stylesheet')

block contents
    #container.pageClassSub
        #content(role='main')
            .content-inner
                section.visual-top
                        .section-inner
                            .visual-area.type-row
                                .visual-content-box
                                    .video
                                        a.link-content-list(href="#" title="")
                                            i.ico-play(aria-hidden="true") 
                                    .visual-text-box
                                        strong.category 문화유산
                                        h3.title-h3 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링
                                        p.sub-txt.ellipsis.type02 [기획 의도] 부산포민속박물관은 무료로 관람이 가능하며, 민속자료가 한곳에 모여 전시된 곳이라 복잡한 도심 속에서 자그마한 힐링과 전통에 대한 반가움을 느낄 수 있고, 전통공예와 민속놀이 등 전통문화체험 프로그램 교실까지 ...

                                .thumbnail-area.swiper-container
                                    ul.thumbnail-list.swiper-wrapper
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링2
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링3
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링4
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링5
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링6
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링3
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링4
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링5
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링2
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링7
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링4
                                        li.swiper-slide
                                            a(href="" role="button")
                                                .thumb-img
                                                    img(src="../../images/thumb_img.jpg", alt="")
                                            .thumb-text
                                                strong.sub-category 공연/전시
                                                p.txt.ellipsis.type03 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링5
                                    .swiper-button-area
                                        .swiper-button-prev
                                        .swiper-button-next
                                        .swiper-pagination

                section.slide-contents
                    .section-inner
                        h3.title-h4
                            a(href="#") 문화영상
                                i.ico(aria-hidden="true")
                        .slide-area.swiper-container.slide-culture(data-slide-type="culture")
                            .swiper-wrapper
                                .swiper-slide
                                    //- .box-thumb 공통으로 교체함
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            .swiper-button-area
                                .swiper-button-prev
                                .swiper-button-next 
                                .swiper-pagination
                            .swiper-progress
                section.slide-contents
                    .section-inner
                        h3.title-h4
                            a(href="#") 유네스코 문화유산
                                i.ico(aria-hidden="true")
                        .slide-area.swiper-container.slide-unesco(data-slide-type="unesco")
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            .swiper-button-area
                                .swiper-button-prev
                                .swiper-button-next 
                                .swiper-pagination
                            .swiper-progress
                section.slide-contents
                    .section-inner
                        h3.title-h4
                            a(href="#") 한국문화 100
                                i.ico(aria-hidden="true")
                        .slide-area.swiper-container.slide-koreaCulture(data-slide-type="koreaCulture")
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            .swiper-button-area
                                .swiper-button-prev
                                .swiper-button-next 
                                .swiper-pagination
                            .swiper-progress
                section.slide-contents
                    .section-inner
                        h3.title-h4
                            a(href="#") 문화인터뷰
                                i.ico(aria-hidden="true")
                        .slide-area.swiper-container.slide-interView(data-slide-type="interView")
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            .swiper-button-area
                                .swiper-button-prev
                                .swiper-button-next 
                                .swiper-pagination
                            .swiper-progress
                section.slide-contents
                    .section-inner
                        h3.title-h4
                            a(href="#") 기관별 영상
                                i.ico(aria-hidden="true")
                        .slide-area.swiper-container.slide-movie(data-slide-type="movie")
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.jpg", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            .swiper-button-area
                                .swiper-button-prev
                                .swiper-button-next 
                                .swiper-pagination
                            .swiper-progress

block append script
    script.
        // UI 확인용 Swiper

        let defaults = {
            slidesPerView:4,
            slidesPerGroup :4,
            spaceBetween:40,
            watchOverflow:true,
            loopFillGroupWithBlank : true,
        }

        let swiper =  new Swiper('.thumbnail-area', {
            slidesPerView: 1,
            slidesPerColumn: 5,
            slidesPerGroup :1,
            loopFillGroupWithBlank : true,
            spaceBetween:16,
            watchOverflow:true,
            navigation: {
                nextEl: '.swiper-button-area .swiper-button-next',
                prevEl: '.swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });
        
        //문화영상
        let swiperCulture = new Swiper('.slide-culture', {
            ...defaults,
            navigation: {
                nextEl: '.slide-culture .swiper-button-area .swiper-button-next',
                prevEl: '.slide-culture .swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.slide-culture .swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });

        let swiperCulturePagi = new Swiper('.slide-culture', {
            ...defaults,
            pagination: {
                el: '.slide-culture .swiper-progress',
                type: 'progressbar'
            }
            
        });
        swiperCulture.controller.control = swiperCulturePagi;

        //유네스코 문화유산
        let swiperUnesco = new Swiper('.slide-unesco', {
            ...defaults,
            navigation: {
                nextEl: '.slide-unesco .swiper-button-area .swiper-button-next',
                prevEl: '.slide-unesco .swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.slide-unesco .swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });

        let swiperUnescoPagi = new Swiper('.slide-unesco', {
            ...defaults,
            pagination: {
                el: '.slide-unesco .swiper-progress',
                type: 'progressbar'
            }
            
        });
        swiperUnesco.controller.control = swiperUnescoPagi;

        //한국문화 100
        let swiperKoreaCulture = new Swiper('.slide-koreaCulture', {
            ...defaults,
            navigation: {
                nextEl: '.slide-koreaCulture .swiper-button-area .swiper-button-next',
                prevEl: '.slide-koreaCulture .swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.slide-koreaCulture .swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });

        let swiperKoreaCulturePagi = new Swiper('.slide-koreaCulture', {
            ...defaults,
            pagination: {
                el: '.slide-koreaCulture .swiper-progress',
                type: 'progressbar'
            }
            
        });
        swiperKoreaCulture.controller.control = swiperKoreaCulturePagi;

        //문화인터뷰
        let swiperInterview = new Swiper('.slide-interView', {
            ...defaults,
            navigation: {
                nextEl: '.slide-interView .swiper-button-area .swiper-button-next',
                prevEl: '.slide-interView .swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.slide-interView .swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });

        let swiperInterviewPagi = new Swiper('.slide-interView', {
            ...defaults,
            pagination: {
                el: '.slide-interView .swiper-progress',
                type: 'progressbar'
            }
            
        });
        swiperInterview.controller.control = swiperInterviewPagi;

        //기관별영상
        let swiperMovie = new Swiper('.slide-movie', {
            ...defaults,
            navigation: {
                nextEl: '.slide-movie .swiper-button-area .swiper-button-next',
                prevEl: '.slide-movie .swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.slide-movie .swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });

        let swiperMoviePagi = new Swiper('.slide-movie', {
            ...defaults,
            pagination: {
                el: '.slide-movie .swiper-progress',
                type: 'progressbar'
            }
            
        });
        swiperMovie.controller.control = swiperMoviePagi;