extends /_src/_pug/_extend_html5

block append css
    //- link(href=`${pathSettingHtml}css/culturetv.css`, type='text/css', rel='stylesheet')

block contents
    #container.videoList
        #content(role='main')
            .content-inner
                nav.breadcrumb
                    .location-area
                        ol.location-content
                            li
                                a(href="#") 홈
                            li
                                a(href="#") 문화공감
                            li
                                a(href="#") 문화TV
                            li
                                a(href="#") 기관별영상
                    .share-area
                        ul.share-content
                            li
                                a.link-share(href="#" role="button")
                            li
                                a.link-print(href="#" role="button")

                section.visual-top.line-gray
                    .section-inner
                        .title-area
                            h1.title-h1 기관별영상
                                |
                                span.txt 각 기관 및 단체들의 새로운 소식을 영상으로 전합니다.

                        .visual-area.type-col.type-slider
                            .swiper-container
                                .swiper-wrapper
                                    .item.swiper-slide
                                        .visual-content-box
                                            .video
                                                a.link-content-list(href="#" title="")
                                                    img.link-img(src="https://picsum.photos/840/472", alt="")
                                                    i.ico-play(aria-hidden="true") 
                                        .visual-text-box
                                            h3.title-h3 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링
                                            p.sub-txt.ellipsis.type04 [기획 의도] 부산포민속박물관은 무료로 관람이 가능하며, 민속 자료가 한곳에 모여 전시된 곳이라 복잡한 도심 속에서 자그마한 힐링과 전통에 대한 반가움을 느낄 수 있고, 전통공예와 민속놀이 등 전통문화체험 프로그램 교실까지 ...
                                            dl.info
                                                dt 출처
                                                dd 한국정책방송원
                                    .item.swiper-slide
                                        .visual-content-box
                                            .video
                                                a.link-content-list(href="#" title="")
                                                    img.link-img(src="https://picsum.photos/840/471", alt="")
                                                    i.ico-play(aria-hidden="true") 
                                        .visual-text-box
                                            h3.title-h3 22[문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링
                                            p.sub-txt.ellipsis.type04 22[기획 의도] 부산포민속박물관은 무료로 관람이 가능하며, 민속 자료가 한곳에 모여 전시된 곳이라 복잡한 도심 속에서 자그마한 힐링과 전통에 대한 반가움을 느낄 수 있고, 전통공예와 민속놀이 등 전통문화체험 프로그램 교실까지 ...
                                            dl.info
                                                dt 출처
                                                dd 한국정책방송원
                                .swiper-button-area
                                    .swiper-button-prev
                                    .swiper-button-next 
                                    .swiper-pagination

                section.section-list
                    .section-inner
                        .area-util
                            .align-box
                                .txt-total 총 <strong>107</strong>건
                                .radio-box-wrap
                                    .radio-box
                                        input#radio01(type="radio" name="test" checked)
                                        label.txt-radio(for="radio01")
                                            span.txt 제목
                                    .radio-box
                                        input#radio02(type="radio" name="test")
                                        label.txt-radio(for="radio02")
                                            span.txt 제목+내용
                                    .radio-box
                                        input#radio03(type="radio" name="test")
                                        label.txt-radio(for="radio03")
                                            span.txt 작성자
                            .list-search
                                .search-input
                                    input(type="text" placeholder="검색어를 입력하세요.")
                                    button(type="button").btn-search
                                        span.hide-txt 검색
                        ul.content-list
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            li.list
                                a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            
                        .area-pagenation
                            button.btn-first(type="button")
                                span.hide-txt 맨 앞으로
                            button.btn-prev(type="button")
                                span.hide-txt 앞으로
                            .wrap-number
                                button.btn-num.on(type="button")
                                    span.txt 1
                                button.btn-num(type="button")
                                    span.txt 2
                                button.btn-num(type="button")
                                    span.txt 3
                                button.btn-num(type="button")
                                    span.txt 4
                                button.btn-num(type="button")
                                    span.txt 5
                                button.btn-num(type="button")
                                    span.txt 6
                                button.btn-num(type="button")
                                    span.txt 7
                                button.btn-num(type="button")
                                    span.txt 8
                                button.btn-num(type="button")
                                    span.txt 9
                                button.btn-num(type="button")
                                    span.txt 10
                            button.btn-next(type="button")
                                span.hide-txt 뒤로
                            button.btn-last(type="button")
                                span.hide-txt 맨뒤로
    .layerPopup-container
        .dimm(aria-hidden="true")
        .layerPopup-wrap(style="display:none;" aria-modal="true")
            .layerPopup-inner
                .title-h5 대한민국 100대 민족문화상징

                .popup-contents
                    strong '대한민국 100대 민족문화상징' 이란?
                    p.txt 문화체육관광부는 우리민족의 기저에 흐르는 문화적 특징과 민족문화의 정수를 찾기 위해 100대 민족문화상징을 선정하였습니다. 이는 우리민족이 과거부터 현재에 이르기까지 공간적ㆍ시간적 동질감을 바탕으로 형성되어온 문화 중 대표성을 가진 100가지 상징을 말합니다.

                    strong '한국문화 100' 이란?
                    p.txt 문화체육관광부는 우리민족의 기저에 흐르는 문화적 특징과 민족문화의 정수를 찾기 위해 100대 민족문화상징을 선정하였습니다. 이는 우리민족이 과거부터 현재에 이르기까지 공간적ㆍ시간적 동질감을 바탕으로 형성되어온 문화 중 대표성을 가진 100가지 상징을 말합니다.

                    strong 대한민국 100대 민족문화 상징
                    p.txt 아래 목록 중 밑줄이 있는 민족문화상징을 클릭하면 해당 소재로 제작한 동영상을 감상하실 수 있습니다.

                    .border-area
                        strong.point 민족상징
                        p.txt 
                            a(href="") 태극기
                            | , 
                            a(href="") 무궁화

                        strong.point 강역 및 지역상징
                        p.txt 
                            a(href="") 독도
                            | , 
                            a(href="") 백두대간
                            | , 
                            a(href="") 백두산
                            | , 
                            a(href="") 금강산
                            | , 
                            a(href="") 동해
                            | , 
                            a(href="") 대동여지도
                            | , 
                            a(href="") 황토
                            | , 
                            a(href="") 갯벌
                            | , 
                            a(href="") 풍수
                            | , 
                            a(href="") 소나무
                            | , 
                            a(href="") 진돗개
                            | , 
                            a(href="") 호랑이
                            | , 
                            a(href="") 한우
                            | , 
                            a(href="") 천상열차분야지도
                            | , 
                            a(href="") 거북선
                            | , 
                            a(href="") 측우기
                            | , 
                            a(href="") 물시계와 해시계(자격루와 앙부일구)
                            | , 
                            a(href="") 수원화성, 정보통신(IT)

                        strong.point 역사상징
                        p.txt 
                            a(href="") 고인돌
                            | , 
                            a(href="") 빗살무늬토기
                            | , 
                            a(href="") 서울
                            | , 
                            a(href="") 경주(서라벌)
                            | , 
                            a(href="") 평양(아사달)
                            | , 
                            a(href="") 단군
                            | , 
                            a(href="") 광개토대왕
                            | , 
                            a(href="") 원효
                            | , 
                            a(href="") 세종대왕
                            | , 
                            a(href="") 퇴계(이황)
                            | , 
                            a(href="") 이순신
                            | , 
                            a(href="") 정약용
                            | , 
                            a(href="") 안중근
                            | , 
                            a(href="") 유관순
                            | , 
                            a(href="") 석굴암
                            | , 
                            a(href="") 비무장지대(DMZ)
                            | , 
                            a(href="") 길거리 응원

                        strong.point 사회 및 생활상징
                        p.txt 
                            a(href="") 오일장(장날)
                            | , 
                            a(href="") 잠녀(해녀)
                            | , 
                            a(href="") 강릉 단오제
                            | , 
                            a(href="") 영산 줄다리기
                            | , 
                            a(href="") 솟대와 장승
                            | , 
                            a(href="") 두레
                            | , 
                            a(href="") 정자나무
                            | , 
                            a(href="") 돌하르방
                            | , 
                            a(href="") 한복
                            | , 
                            a(href="") 색동
                            | , 
                            a(href="") 다듬이질
                            | , 
                            a(href="") 김치
                            | , 
                            a(href="") 떡
                            | , 
                            a(href="") 전주비빔밥
                            | , 
                            a(href="") 고추장
                            | , 
                            a(href="") 된장과 청국장
                            | , 
                            a(href="") 삼계탕
                            | , 
                            a(href="") 옹기
                            | , 
                            a(href="") 불고기
                            | , 
                            a(href="") 소주와 막걸리
                            | , 
                            a(href="") 냉면
                            | , 
                            a(href="") 자장면
                            | , 
                            a(href="") 한옥
                            | , 
                            a(href="") 온돌
                            | , 
                            a(href="") 제주도 돌담
                            | , 
                            a(href="") 초가집
                            | , 
                            a(href="") 동의보감
                            | , 
                            a(href="") 인삼
                            | , 
                            a(href="") 태권도
                            | , 
                            a(href="") 씨름
                            | , 
                            a(href="") 활
                            | , 
                            a(href="") 윷놀이
                            | , 
                            a(href="") 서당
                            | , 
                            a(href="") 한석봉과 어머니

                        strong.point 신앙 및 사고상징
                        p.txt 
                            a(href="") 선(禪)
                            | , 
                            a(href="") 미륵
                            | , 
                            a(href="") 효(孝)
                            | , 
                            a(href="") 선비
                            | , 
                            a(href="") 종묘와 종묘대제
                            | , 
                            a(href="") 굿
                            | , 
                            a(href="") 서낭당
                            | , 
                            a(href="") 도깨비
                            | , 
                            a(href="") 금줄

                        strong.point 언어 및 예술 상징
                        p.txt 
                            a(href="") 한글(훈민정음)
                            | , 
                            a(href="") 한지
                            | , 
                            a(href="") 조선왕조실록
                            | , 
                            a(href="") 팔만대장경
                            | , 
                            a(href="") 직지심체요절
                            | , 
                            a(href="") 고구려 고분벽화
                            | , 
                            a(href="") 반가사유상
                            | , 
                            a(href="") 백제의 미소(서산마애삼존불)
                            | , 
                            a(href="") 고려청자
                            | , 
                            a(href="") 백자
                            | , 
                            a(href="") 분청사기
                            | , 
                            a(href="") 막사발
                            | , 
                            a(href="") 풍물굿(농악)
                            | , 
                            a(href="") 탈춤
                            | , 
                            a(href="") 판소리
                            | , 
                            a(href="") 아리랑
                            | , 
                            a(href="") 거문고
                            | , 
                            a(href="") 대금
                            | , 
                            a(href="") 춘향전
                button.btn-close(type="button")
                    i.hide-txt 팝업 닫기



        

block append script
    script.
        // UI 확인용 Swiper
    
        //문화영상
        let swiper =  new Swiper('.type-slider .swiper-container', {
            slidesPerView: 1,
            spaceBetween:16,
            spaceBetween:16,
            loopFillGroupWithBlank : true,
            watchOverflow:true,
            effect: "fade",
            fadeEffect: {
                crossFade: true
            },
            speed:600,
            navigation: {
                nextEl: '.type-slider .swiper-button-area .swiper-button-next',
                prevEl: '.type-slider .swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.type-slider .swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });

        //팝업
        let popupBtn = $('.btn-popup');
        let closeBtn = $('.btn-close');
        let popup = $('.layerPopup-wrap');
        let dimm = $('.dimm');

        popupBtn.on('click', (e) => {
            let $scrollTop = $(window).scrollTop();
    
            popup.show();
            if (popup) {
                dimm.show();
                $('body').addClass('overflow-hidden');
            } else {
                dimm.hide();
                 $('body').removeClass('overflow-hidden');
            }
        });

        closeBtn.on('click', () => {
            popup.hide();
            dimm.hide();
            $('body').removeClass('overflow-hidden');
        });
