extends /_src/_pug/_extend_html5

block append css
    //- link(href=`${pathSettingHtml}css/culturetv.css`, type='text/css', rel='stylesheet')

block contents
    #container.videoList
        #content(role='main')
            .content-inner
                nav.breadcrumb
                    .location-area
                        ol.location-content
                            li
                                a(href="#") 홈
                            li
                                a(href="#") 문화공감
                            li
                                a(href="#") 문화TV
                            li
                                a(href="#") 문화영상
                    .share-area
                        ul.share-content
                            li
                                a.link-share(href="#" role="button")
                            li
                                a.link-print(href="#" role="button")

                section.visual-top.line-gray
                    .section-inner
                        .title-area
                            h1.title-h1 문화영상
                                |
                                span.txt 문화포털의 크리에이터 문화PD의 영상을 소개합니다.

                        .visual-area.type-col.type-slider
                            .visual-content-box
                                .video
                                    a.link-content-list(href="#" title="")
                                        img.link-img(src="https://picsum.photos/840/472", alt="")
                                        i.ico-play(aria-hidden="true") 
                            .visual-text-box
                                ul.thumb-tag.size02
                                    li.tag
                                        span.txt 문화예술
                                    li.tag.reverse
                                        span.txt 서울
                                h3.title-h3 [문화PD] 복잡한 도심 속, 부산포박물관에서 느끼는 소소한 힐링
                                ul.hashtag
                                    li
                                        span.txt # 국립국악원
                                    li
                                        span.txt # 국립박물관
                                    li
                                        span.txt # 국립아카이브
                                    li
                                        span.txt # 이색전시회
                                    li
                                        span.txt # 서초구이색놀거리
                                dl.info
                                    dt 제작
                                    dd 정육현
                                dl.info
                                    dt 재생시간
                                    dd 02:14
                                dl.info
                                    dt 등록일
                                    dd 2022-09-22
                
                            .visual-text-info
                                // 내용 더보기 클릭 시 .text-overflow 클래스 제거
                                p.txt.text-overflow  국립국악원 국악아카이브는 국악 자원을 조사·수집·관리·보존하며 약 45만 여 점의 기록물을 보유하고 있습니다. 온라인으로도 이러한 기록물들을 즐길 수 있는데요, 온오프라인으로 국악아카이브를 재미있게 즐길 수 있는 3가지 방법을 소개해드리겠습니다!  서울 서초구에 위치한 국악박물관 국내 유일의 국악 전문 박물관인 이곳에서는 다양한 국악 유물 및 악기와 더불어 국악아카이브도 감상할 수 있습니다. 여기서 잠깐! 아카이브(archive)란, ‘특정 장르에 속하는 정보를 모아둔 정보 창고‘라는 뜻을 가지고 있는데요. 국악아카이브의 자료는 동영상, 음향, 이미지, 텍스트 등으로 무려 45만 여 점에 달한다고 합니다. 문화정보화 시대에 발맞춰 온라인에서도 국악아카이브를 생생하게 감상할 수 있도록 다양한 서비스가 제공됩니다. 국악박물관 홈페이지에선 VR로 국악박물관을 감상할 수 있습니다.
                                button.btn-txt-more(type="button")
                                    span.txt 내용 더보기 +

                section.slide-contents.line-gray
                    .section-inner
                        h4.title-h4
                            a(href="#") 함께 볼만한 영상
                                //- i.ico(aria-hidden="true")
                        .slide-area.swiper-container.slide-together(data-slide-type="together")
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                                .swiper-slide
                                    a(href="#none").box-thumb
                                        .thumb-img
                                            img(src="../../images/thumb_img.png", alt="")
                                            i.ico-play(aria-hidden="true")
                                        ul.thumb-tag.size02
                                            li.tag
                                                span.txt 생활
                                            li.tag.reverse
                                                span.txt 서울
                                        .thumb-txt
                                            p.tit.size02.ellipsis.type02 ‘랑종’을 능가하는 공포 특집, 더운 날에는 무서운 게 ...
                                            p.txt.size02.ellipsis.type02 얼마 전 개봉한 영화 ‘랑종’ 보셨나요? 여름만 되면 등골이 서늘한 공포물이 당겨!
                                            p.txt.size02 문화포털
                            .swiper-button-area
                                .swiper-button-prev
                                .swiper-button-next 
                                .swiper-pagination
                            .swiper-progress
                        
                        .caption
                            img(src="../../images/common/nuri_sample.png", alt="공공누리")
                            p.txt 한국문화정보원이 창작한 
                                span.point [문화PD] 국악아카이브 재미있게 즐기는 3가지 방법 
                                | 본 저작물은 "공공누리" 제4유형:출처표시+상업적 이용금지 + 변경금지조건에 따라 이용 할 수 있습니다.

                section.section-contents.mb120
                    .section-inner
                        h4.title-h4
                            a(href="#") 공감댓글
                        .area-util
                            .txt-total 총 <strong>2</strong>건
                        .notice-area
                            .write-field
                                label.hide-txt(for="test-textarea") 
                                textarea#test-textarea(name="", cols="30", rows="10" placeholder="본 게시물과 관련이 없거나 불건전한 댓글은 임의로 삭제될 수 있습니다.")
                                .text-count 0/
                                    span.point 140
                                button.btn-submit(type="button")
                                    span.txt 댓글쓰기
                            ul.notice-list
                                li
                                    .user-info 
                                        .user-photo
                                            img(src="../../images/common/user_thumbnail.png", alt="유저 프로필 이미지")
                                        .user-id PD_*******
                                    .list-setup
                                        .date 2022.09.17
                                        button.btn-del(type="button") 삭제
                                    p.txt 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다.
                                li
                                    .user-info 
                                        .user-photo
                                            img(src="../../images/common/user_thumbnail.png", alt="유저 프로필 이미지")
                                        .user-id PD_*******
                                    .list-setup
                                        .date 2022.09.17
                                        button.btn-del(type="button") 삭제
                                    p.txt 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다. 댓글 내용이 표시됩니다.
                            a.link-listview(href="#") 
                                span.txt 목록으로
                                    
                                        
                                            
                                        
                            
block append script
    script.
        // UI 확인용 Swiper

        let defaults = {
            slidesPerView:2,
            slidesPerGroup :2,
            spaceBetween:20,
            watchOverflow:true,
            loopFillGroupWithBlank : true,
            breakpoints: {
                1023: {
                    slidesPerView:3,
                    slidesPerGroup :3,
                    spaceBetween:40,
                },
                1279: {
                    slidesPerView:4,
                    slidesPerGroup :4,
                    spaceBetween:40,
                }
            }
        }

        //문화영상
        let swiperTogether = new Swiper('.slide-together', {
            ...defaults,
            navigation: {
                nextEl: '.slide-together .swiper-button-area .swiper-button-next',
                prevEl: '.slide-together .swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.slide-together .swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });

        let swiperTogetherPagi = new Swiper('.slide-together', {
            ...defaults,
            pagination: {
                el: '.slide-together .swiper-progress',
                type: 'progressbar'
            }
            
        });
        swiperTogether.controller.control = swiperTogetherPagi;
