extends /_src/_pug/_extend_html5

block append css
    //- link(href=`${pathSettingHtml}css/oneEye.css`, type='text/css', rel='stylesheet')

block contents
    #container.pageClassSub
        #content(role='main')
            .content-inner
                nav.breadcrumb.type-home
                    .location-area
                        ol.location-content
                            li
                                a(href="#") 홈
                            li
                                a(href="#") 문화체험
                            li
                                a(href="#") 한 눈에 보는 문화정보
                            li
                                a.on(href="#") 공연/전시
                    .share-area
                        ul.share-content
                            li
                                a.link-share(href="#")
                            li
                                a.link-print(href="#")
                section.section-main
                    .section-inner
                        .title-area
                            h1.title-h1 공연/전시
                
                section.section-view
                    .section-inner
                        .area-thumb-view
                            .img-view
                                img(src="../../images/thumb_img02.jpg", alt="")
                            .info-view
                                .wrap-info
                                    ul.thumb-tag.size02
                                        li.tag.reverse
                                            span.txt 연극
                                        li.tag
                                            span.txt 극단스케치
                                        li.tag
                                            span.txt 전체관람가
                                        li.tag
                                            span.txt 공연예술통합전산망
                                    p.view-tit 드립소년단
                                    .view-list
                                        dl.list
                                            dt.head 공연기간
                                            dd.desc 2021.09.07 ~ 2021.09.07 (진행중)
                                        dl.list
                                            dt.head 공연시간
                                            dd.desc 월요일 (19:30)
                                        dl.list
                                            dt.head 공연가격
                                            dd.desc 전석 35,000원
                                        dl.list
                                            dt.head 장소
                                            dd.desc 졸탄극장
                                        dl.list
                                            dt.head 졸탄극장
                                            dd.desc 1시간 30분
                                        dl.list
                                            dt.head 문의
                                            dd.desc 010-4521-6193
                                .view-btn
                                    a(href="#none").btn-link
                                        span.txt 예매 바로가기 
                                    a(href="#none").btn-home
                                        span.txt 공식 홈페이지
                section.section-view-cont
                    .section-inner
                        .area-tab-button(role="tabllist" aria-label="문화릴레이티켓")
                            button.tab-btn.on(type="button" role="tab")
                                span.txt 위치안내
                            button.tab-btn(type="button" role="tab")
                                span.txt 공연장의 다른 공연
                            button.tab-btn(type="button" role="tab")
                                span.txt 주변 관광지
                        .area-tab-info.on
                            .txt-wrap
                                .align-txt
                                    dl.list
                                        dt.txt-head 전시장명 
                                        dd.txt-desc 졸탄극장
                                    dl.list
                                        dt.txt-head 주소
                                        dd.txt-desc 서울특별시 종로구 이화장길 58
                                    dl.list
                                        dt.txt-head 전화번호
                                        dd.txt-desc.mont 1661-3124
                                .align-txt
                                    dl.list
                                        dt.txt-head 상세주소
                                        dd.txt-desc 졸탄극장
                                    dl.list
                                        dt.txt-head 홈페이지
                                        dd.txt-desc
                                            a(href="#").btn-link https://map.naver.com/v5/entry/place/1077055899?c=14138091.6416760,4519968.6353625,13,0,0,0,dh&placePath=%2Fhome%3Fentry=plt
                                
                            //- 지도 영역
                            .map-wrap
                                div(style="width:100%; height: 500px; background: pink")

                            .area-pagenation
                                button.btn-first(type="button")
                                    span.hide-txt 맨 앞으로
                                button.btn-prev(type="button")
                                    span.hide-txt 앞으로
                                .wrap-number
                                    button.btn-num.on(type="button")
                                        span.txt 1
                                    button.btn-num(type="button")
                                        span.txt 2
                                    button.btn-num(type="button")
                                        span.txt 3
                                    button.btn-num(type="button")
                                        span.txt 4
                                    button.btn-num(type="button")
                                        span.txt 5
                                    button.btn-num(type="button")
                                        span.txt 6
                                    button.btn-num(type="button")
                                        span.txt 7
                                    button.btn-num(type="button")
                                        span.txt 8
                                    button.btn-num(type="button")
                                        span.txt 9
                                    button.btn-num(type="button")
                                        span.txt 10
                                button.btn-next(type="button")
                                    span.hide-txt 뒤로
                                button.btn-last(type="button")
                                    span.hide-txt 맨뒤로

                        .area-tab-info
                            .area-table.type02
                                table
                                    caption 위치
                                    thead 
                                        tr
                                            th 장소명
                                            th 기간
                                            th 상세정보
                                    tbody
                                        tr 
                                            // 왼쪽정렬 : .align-left
                                            // 볼드 : .bold
                                            // 영문폰트 : .mont
                                            td.align-left 엄마와 딸의 3번째 발자국
                                            td.mont 2022-11-16 ~ 2022-11-24	
                                            td
                                                a(href="#none").link-more
                                                    span.txt 자세히 보기
                                        tr 
                                            td.align-left 엄마와 딸의 3번째 발자국
                                            td.mont 2022-11-16 ~ 2022-11-24	
                                            td
                                                a(href="#none").link-more
                                                    span.txt 자세히 보기 
                                        tr 
                                            td.align-left 엄마와 딸의 3번째 발자국
                                            td.mont 2022-11-16 ~ 2022-11-24	
                                            td
                                                a(href="#none").link-more
                                                    span.txt 자세히 보기 
                                        tr 
                                            td.align-left 엄마와 딸의 3번째 발자국
                                            td.mont 2022-11-16 ~ 2022-11-24	
                                            td
                                                a(href="#none").link-more
                                                    span.txt 자세히 보기
                                        tr 
                                            td.align-left 
                                                a(herf="#") 엄마와 딸의 3번째 발자국
                                            td.mont 2022-11-16 ~ 2022-11-24	
                                            td
                                                a(href="#none").link-more
                                                    span.txt 자세히 보기
                            .area-pagenation
                                button.btn-first(type="button")
                                    span.hide-txt 맨 앞으로
                                button.btn-prev(type="button")
                                    span.hide-txt 앞으로
                                .wrap-number
                                    button.btn-num.on(type="button")
                                        span.txt 1
                                    button.btn-num(type="button")
                                        span.txt 2
                                    button.btn-num(type="button")
                                        span.txt 3
                                    button.btn-num(type="button")
                                        span.txt 4
                                    button.btn-num(type="button")
                                        span.txt 5
                                    button.btn-num(type="button")
                                        span.txt 6
                                    button.btn-num(type="button")
                                        span.txt 7
                                    button.btn-num(type="button")
                                        span.txt 8
                                    button.btn-num(type="button")
                                        span.txt 9
                                    button.btn-num(type="button")
                                        span.txt 10
                                button.btn-next(type="button")
                                    span.hide-txt 뒤로
                                button.btn-last(type="button")
                                    span.hide-txt 맨뒤로

                        .area-tab-info
                            .area-table.type01
                                table
                                    caption 주변관광지
                                    thead 
                                        tr
                                            th 관광지
                                            th 위치
                                            th 연락처
                                    tbody
                                        tr 
                                            // 왼쪽정렬 : .align-left
                                            // 볼드 : .bold
                                            // 영문폰트 : .mont
                                            td 능허대지
                                            td 인천광역시 연수구 옥련동 194-54
                                            td.mont 032-810-7298
                                        tr 
                                            td 능허대지
                                            td 인천광역시 연수구 옥련동 194-54
                                            td.mont 032-810-7298 
                                        tr 
                                            td 능허대지
                                            td 인천광역시 연수구 옥련동 194-54
                                            td.mont 032-810-7298 
                                        tr 
                                            td 능허대지
                                            td 인천광역시 연수구 옥련동 194-54
                                            td.mont 032-810-7298 
                            .area-pagenation
                                button.btn-first(type="button")
                                    span.hide-txt 맨 앞으로
                                button.btn-prev(type="button")
                                    span.hide-txt 앞으로
                                .wrap-number
                                    button.btn-num.on(type="button")
                                        span.txt 1
                                    button.btn-num(type="button")
                                        span.txt 2
                                    button.btn-num(type="button")
                                        span.txt 3
                                    button.btn-num(type="button")
                                        span.txt 4
                                    button.btn-num(type="button")
                                        span.txt 5
                                    button.btn-num(type="button")
                                        span.txt 6
                                    button.btn-num(type="button")
                                        span.txt 7
                                    button.btn-num(type="button")
                                        span.txt 8
                                    button.btn-num(type="button")
                                        span.txt 9
                                    button.btn-num(type="button")
                                        span.txt 10
                                button.btn-next(type="button")
                                    span.hide-txt 뒤로
                                button.btn-last(type="button")
                                    span.hide-txt 맨뒤로




block append script
    script.
        //tab
        $('.area-tab-button .tab-btn').on('click', function(){
            const _index = $(this).index();
            $('.area-tab-button .tab-btn').removeClass('on');
            $(this).addClass('on');
            
            $('.area-tab-info').removeClass('on');
            $('.area-tab-info').eq(_index).addClass('on');
        });