extends /_src/_pug/_extend_html5

block append css
    //- link(href=`${pathSettingHtml}css/oneEye.css`, type='text/css', rel='stylesheet')

block contents
    #container.pageClassSub
        #content(role='main')
            .content-inner
                //-nav.breadcrumb
                    .location-area
                        ol.location-content
                            li
                                a(href="#") 홈
                            li
                                a(href="#") 문화체험
                            li
                                a.on(href="#") 집콕+집밖 문화생활
                    .share-area
                        ul.share-content
                            li
                                a.link-share(href="#")
                            li
                                a.link-print(href="#")
                section.intro-home
                    span.hide-txt 일상문화의 시대, 공연/전시/축제 등 다채로운 문화정보를 찾아보세요.
                    h1.hide-txt 집콕+집밖 문화생활


                section.main-home
                    .section-inner
                        .title-area
                            h2.title-h2 오늘의 집콕+집밖
                        .slide-area
                            .main-home-swiper
                                .swiper-container
                                    ul.swiper-wrapper
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")
                                                    .thumb-category
                                                        i.ico-housein
                                                            span.hide-txt 집콕
                                                    .btn-link
                                                        span.txt 예매 바로가기
                                                ul.thumb-tag
                                                    li.tag
                                                        span.txt 공연/전시
                                                    li.tag.reverse
                                                        span.txt 유료

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px 지원의 음악과 미술이 함께하는 콘서트 술이 함께하는 콘서트
                                                    p.txt.size02.ellipsis.type02 14 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의 자존감을 얻으며, 자연의  자존감을 얻으며, 자연의

                                                    dl.txt-list
                                                        dt.term 기간
                                                        dd.desc 2022.09.21 ~ 2022.09.25
                                                    dl.txt-list
                                                        dt.term 문의
                                                        dd.desc 02-360-866
                                        
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")
                                                    .thumb-category
                                                        i.ico-housein
                                                            span.hide-txt 집콕
                                                    .btn-link
                                                        span.txt 16px 폰트크기 수정 하기
                                                ul.thumb-tag
                                                    li.tag
                                                        span.txt 공연/전시
                                                    li.tag.reverse
                                                        span.txt 유료

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px 춤추는 DNA
                                                    p.txt.size02.ellipsis.type02 14 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의 자존감을 얻으며, 자연의  자존감을 얻으며, 자연의

                                                    dl.txt-list
                                                        dt.term 기간
                                                        dd.desc 2022.09.21 ~ 2022.09.25
                                                    dl.txt-list
                                                        dt.term 문의
                                                        dd.desc 02-360-866
                                        
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")
                                                    .thumb-category
                                                        i.ico-housein
                                                            span.hide-txt 집콕
                                                    .btn-link
                                                        span.txt 예매 바로가기
                                                ul.thumb-tag
                                                    li.tag
                                                        span.txt 공연/전시
                                                    li.tag.reverse
                                                        span.txt 유료

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px 지원의 음악과 미술이 함께하는 콘서트 술이 함께하는 콘서트
                                                    p.txt.size02.ellipsis.type02 14 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의 자존감을 얻으며, 자연의  자존감을 얻으며, 자연의

                                                    dl.txt-list
                                                        dt.term 기간
                                                        dd.desc 2022.09.21 ~ 2022.09.25
                                                    dl.txt-list
                                                        dt.term 문의
                                                        dd.desc 02-360-866
                                        
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")
                                                    .thumb-category
                                                        i.ico-housein
                                                            span.hide-txt 집콕
                                                    .btn-link
                                                        span.txt 예매 바로가기
                                                ul.thumb-tag
                                                    li.tag
                                                        span.txt 공연/전시
                                                    li.tag.reverse
                                                        span.txt 유료

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px 지원의 음악과 미술이 함께하는 콘서트 술이 함께하는 콘서트
                                                    p.txt.size02.ellipsis.type02 14 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의 자존감을 얻으며, 자연의  자존감을 얻으며, 자연의

                                                    dl.txt-list
                                                        dt.term 기간
                                                        dd.desc 2022.09.21 ~ 2022.09.25
                                                    dl.txt-list
                                                        dt.term 문의
                                                        dd.desc 02-360-866
                                        
                                        li.swiper-slide
                                            a(href="#none").box-thumb
                                                .thumb-img
                                                    img(src="../../images/thumb_img02.jpg", alt="")
                                                    .thumb-category
                                                        i.ico-housein
                                                            span.hide-txt 집콕
                                                    .btn-link
                                                        span.txt 예매 바로가기
                                                ul.thumb-tag
                                                    li.tag
                                                        span.txt 공연/전시
                                                    li.tag.reverse
                                                        span.txt 유료

                                                .thumb-txt
                                                    p.tit.size02.ellipsis.type02 20px 지원의 음악과 미술이 함께하는 콘서트 술이 함께하는 콘서트
                                                    p.txt.size02.ellipsis.type02 14 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의 자존감을 얻으며, 자연의  자존감을 얻으며, 자연의

                                                    dl.txt-list
                                                        dt.term 기간
                                                        dd.desc 2022.09.21 ~ 2022.09.25
                                                    dl.txt-list
                                                        dt.term 문의
                                                        dd.desc 02-360-866
                                        
                                        

                                    //- Add Pagination
                                    .swiper-pagination
                                    //- Add Arrows
                                    .swiper-button-prev
                                    .swiper-button-next

                section.tab-buttons
                    .section-inner
                        .tab-wrap(role="tabllist" aria-label="문화생활")
                            button.tab-btn(type="button" role="tab")
                                span.hide-txt 집콕 : 온라인에서 누려요
                            button.tab-btn.on(type="button" role="tab")
                                span.hide-txt 집밖 : 현장에서 즐겨요
                            button.tab-btn(type="button" role="tab")
                                span.hide-txt 채널 : 시간으로 만나요

                section.tab-contents.on
                    section.slide-contents.type-home
                        .section-inner
                            h3.title-h4 전시/체험/행사
                            .slide-area.swiper-container.slide-homein-01(data-slide-type="homein-01")
                                .swiper-wrapper
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 드립소년단
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의

                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                .swiper-button-area
                                    .swiper-button-prev
                                    .swiper-button-next 
                                    .swiper-pagination
                                .swiper-progress

                    section.slide-contents.type-home
                        .section-inner
                            h3.title-h4 공연/영상/강연
                            .slide-area.swiper-container.slide-homein-02(data-slide-type="homein-02")
                                .swiper-wrapper
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 드립소년단
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의

                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                .swiper-button-area
                                    .swiper-button-prev
                                    .swiper-button-next 
                                    .swiper-pagination
                                .swiper-progress
                                


                    section.slide-contents.type-home
                        .section-inner
                            h3.title-h4 가족/어린이
                            .slide-area.swiper-container.slide-homein-03(data-slide-type="homein-03")
                                .swiper-wrapper
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 드립소년단
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의

                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                    .swiper-slide
                                        a(href="#none").box-thumb
                                            .thumb-img
                                                img(src="../../images/thumb_img02.jpg", alt="")
                                                i.ico-play(aria-hidden="true")
                                                .btn-link
                                                    span.txt 예매 바로가기
                                            ul.thumb-tag
                                                li.tag
                                                    span.txt 공연/전시
                                                li.tag
                                                    span.txt 음악/콘서트
                                                li.tag.reverse
                                                    span.txt 유료

                                            .thumb-txt
                                                p.tit.size01.ellipsis.type02  16 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐! 힐링사운드 여행 ASMR 2탄 겨울을 느껴봐!
                                                p.txt.size01.ellipsis.type02  13 무용의 기본인 신체적 움직임을 통해 자존감을 얻으며, 자연의적인 신체적 움직임을 통해
                                .swiper-button-area
                                    .swiper-button-prev
                                    .swiper-button-next 
                                    .swiper-pagination
                                .swiper-progress
                               

                
                section.tab-contents
                    p 탭 2
                section.tab-contents
                    p 탭 3


block append script
    script.
        // UI 확인용 Swiper

        let defaults = {
            slidesPerView:6,
            slidesPerGroup :6,
            spaceBetween:40,
            watchOverflow:true,
            loopFillGroupWithBlank : true,
        }

        var swiper = new Swiper('.main-home-swiper .swiper-container', {
            slidesPerView: 2,
            spaceBetween: 10,
            watchOverflow: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                1025: {
                    slidesPerView: 4,
                    spaceBetween: 40,
                },
            }
        }); 
        
        //집콕 탭 내부 슬라이드
        let swiperHomeIn01 = new Swiper('.slide-homein-01', {
            ...defaults,
            navigation: {
                nextEl: '.slide-homein-01 .swiper-button-area .swiper-button-next',
                prevEl: '.slide-homein-01 .swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.slide-homein-01 .swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });

        let swiperHomeIn01Pagi = new Swiper('.slide-homein-01', {
            ...defaults,
            pagination: {
                el: '.slide-homein-01 .swiper-progress',
                type: 'progressbar'
            }
            
        });
        swiperHomeIn01.controller.control = swiperHomeIn01Pagi;

        let swiperHomeIn02 = new Swiper('.slide-homein-02', {
            ...defaults,
            navigation: {
                nextEl: '.slide-homein-02 .swiper-button-area .swiper-button-next',
                prevEl: '.slide-homein-02 .swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.slide-homein-02 .swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });

        let swiperHomeIn02Pagi = new Swiper('.slide-homein-02', {
            ...defaults,
            pagination: {
                el: '.slide-homein-02 .swiper-progress',
                type: 'progressbar'
            }
            
        });
        swiperHomeIn02.controller.control = swiperHomeIn01Pagi;

        let swiperHomeIn03 = new Swiper('.slide-homein-03', {
            ...defaults,
            navigation: {
                nextEl: '.slide-homein-03 .swiper-button-area .swiper-button-next',
                prevEl: '.slide-homein-03 .swiper-button-area .swiper-button-prev',
            },
            pagination: {
                el: '.slide-homein-03 .swiper-button-area .swiper-pagination',
                type: 'fraction',
            },
            a11y : {
                enabeld: true
            }
        });

        let swiperHomeIn03Pagi = new Swiper('.slide-homein-03', {
            ...defaults,
            pagination: {
                el: '.slide-homein-03 .swiper-progress',
                type: 'progressbar'
            }
            
        });
        swiperHomeIn03.controller.control = swiperHomeIn01Pagi;


        // tab
        $('.tab-buttons .tab-btn').on('click', function(){
            const _index = $(this).index();
            $('.tab-btn').removeClass('on');
            $(this).addClass('on');
            
            $('.tab-contents').removeClass('on');
            $('.tab-contents').eq(_index).addClass('on');
        });
                    



                                

