@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");
.fonts-load {
  visibility: hidden; }

.fonts-loaded .fonts-load {
  visibility: visible; }

/*! reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-size: 10px;
  font-weight: 400; }
  html:lang(ko) {
    font-family: Noto Sans KR, "Malgun Gothic", "맑은 고딕", Dotum, "돋움", arial, verdana, sans-serif; }
  html:lang(en) {
    font-family: Helvetica, Arial, sans-serif; }
  html:lang(ja) {
    font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif; }
  html:lang(zh) {
    font-family: Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif; }
  html:lang(ko) {
    line-height: 1.15; }
  html:lang(en) {
    line-height: 1.15; }
  html:lang(ja) {
    line-height: 1.15; }
  html:lang(zh) {
    line-height: 1.15; }
  html:lang(ko) {
    word-break: keep-all; }
  html:lang(en) {
    word-break: break-all; }
  html:lang(ja) {
    word-break: break-all; }
  html:lang(zh) {
    word-break: break-all; }
  html:lang(ko) {
    word-wrap: break-word; }
  html:lang(en) {
    word-wrap: break-word; }
  html:lang(ja) {
    word-wrap: break-word; }
  html:lang(zh) {
    word-wrap: break-word; }
  html:lang(ko) {
    letter-spacing: 0; }
  html:lang(en) {
    letter-spacing: 0; }
  html:lang(ja) {
    letter-spacing: 0; }
  html:lang(zh) {
    letter-spacing: 0; }

@media (max-width: 374px) {
  html {
    font-size: -webkit-calc(7px + 10 * ((100vw - 280px) / 374));
    font-size: calc(7px + 10 * ((100vw - 280px) / 374)); } }

@media (min-width: 375px) and (max-width: 750px) {
  html {
    font-size: -webkit-calc(10px + 20 * ((100vw - 375px) / 750));
    font-size: calc(10px + 20 * ((100vw - 375px) / 750)); } }

@media (min-width: 751px) and (max-width: 1023px) {
  html {
    font-size: -webkit-calc(10px + 13 * ((100vw - 751px) / 1023));
    font-size: calc(10px + 13 * ((100vw - 751px) / 1023)); } }

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: -webkit-calc(10px + 12 * ((100vw - 1024px) / 1279));
    font-size: calc(10px + 12 * ((100vw - 1024px) / 1279)); } }

@media (min-width: 1280px) {
  html {
    font-size: 10px; } }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0; }

body {
  color: #000000;
  background-color: #ffffff; }

img {
  border: 0;
  border-style: none; }

button {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer; }

button, input, select, optgroup, textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  border: 0; }

legend {
  color: #000; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1; }

caption, hr, legend {
  width: 0px;
  height: 0px;
  font-size: 1px;
  text-indent: -9999em;
  line-height: 0; }

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent; }

a:visited span {
  border: inherit; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/*
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Text-level semantics
  ========================================================================== */
/*
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/*
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Forms
  ========================================================================== */
/*
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/*
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/*
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/*
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/*
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/*
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/*
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/*
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/*
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/*
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
  ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/* Misc
  ========================================================================== */
/*
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/*
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*! common */
.clfix:after, .clfix:before {
  display: table;
  line-height: 0;
  content: ""; }

.clfix:after {
  clear: both; }

.hide-txt {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  margin: -1px;
  padding: 0;
  border: 0; }

@media (max-width: 1024px) {
  a .hide-txt {
    font-size: 0; } }

a:before {
  content: '　';
  position: absolute;
  font-size: 0; }

[tabindex="-1"]:focus {
  outline: 0; }

/*! 반응형 미지원 컨텐츠의 모바일 화면시 가림막 소스 */
.mobile-mode-dimm-container {
  display: none; }

@media (max-width: 1023px) {
  .mobile-mode-dimm-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    outline: 0;
    overflow: hidden;
    text-align: center;
    z-index: 1000;
    background: #000;
    opacity: 1; }
    .mobile-mode-dimm-container .mobile-mode-box {
      position: relative;
      padding: 20px;
      padding: 2rem;
      margin: 0px 40px;
      margin: 0rem 4rem;
      background: #fff;
      border-radius: 10px;
      border-radius: 1rem;
      border: 2px solid blue;
      font-size: 24px;
      font-size: 2.4rem; } }

/*! skipnav */
.skipnav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 0;
  line-height: 1; }

.skipnav a {
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: 0 -1px -1px 0;
  padding: 0;
  font-size: 0;
  line-height: 1; }

.skipnav a:active, .skipnav a:focus, .skipnav a:hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 19px;
  margin: 0;
  padding: 5px 0;
  border: 1px solid #c4d7ea;
  background: #2b6cb0;
  color: #fff;
  font-weight: 700;
  font-size: 1.333em;
  text-align: center;
  line-height: 100%; }

/*! Browser Upgrade Prompt */
.browserupgrade {
  margin: .2em 0;
  padding: .2em 0;
  background: #ccc;
  color: #000;
  font-size: 1px; }

.browserupgrade strong {
  color: #000;
  font-weight: 700; }

.browserupgrade a {
  color: #8d0080;
  font-weight: 700;
  text-decoration: underline; }

/*! dimm */
.dimm {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: #000;
  opacity: .6; }

.dimm img {
  display: block; }

/*! 공통 레이아웃 속성 */
html, body {
  height: 100%; }

#wrap {
  height: 100%; }

#container {
  height: 100%; }

#content {
  height: 100%; }

/*! 아이콘 공통 속성 */
[class^="ico-"] {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center; }

/*! mobile 버전 - css */
/*! pc & tablet 버전 - css */
/*! 모바일 헤더 타이틀 */
.mobile-title-container {
  position: fixed;
  z-index: 81;
  top: 0;
  left: 0;
  width: -webkit-calc(100% - 110px);
  width: calc(100% - 110px);
  width: -webkit-calc(100% - 11rem);
  width: calc(100% - 11rem);
  margin: 0px 55px 0px 55px;
  margin: 0rem 5.5rem 0rem 5.5rem;
  height: 60px;
  height: 6rem; }
  .mobile-title-container.hidden .mobile-title-txt {
    opacity: 0; }

.mobile-title-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }

.mobile-title-txt {
  font-size: 20px;
  font-size: 2rem;
  color: #222222;
  font-weight: 500;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out; }

/*! mobile 버전 - css */
/*! pc & tablet 버전 - css */
/*! 메인 헤더 스타일 */
.bodyClassMain .header-continer {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #e5e5e5; }

/*! 서브 메인 헤더 스타일 */
.bodyClassSubMain .header-continer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); }

/*! 공통 헤더 스타일 */
.header-sample01 .header-continer {
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  height: 6rem; }
  .header-sample01 .header-continer.scroll {
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0rem 0.3rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
            box-shadow: 0rem 0.3rem 0.5rem 0rem rgba(0, 0, 0, 0.1); }
    .header-sample01 .header-continer.scroll .bg-logo {
      width: 28px;
      width: 2.8rem;
      height: 36px;
      height: 3.6rem;
      background-image: url("/images/common/logo02_mo.png");
      background-size: 28px 36px;
      background-size: 2.8rem 3.6rem; }

.header-sample01 .header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 0px 20px 0px 20px;
  padding: 0rem 2rem 0rem 2rem; }

.header-sample01 .header-logo {
  display: none; }
  .header-sample01 .header-logo .bg-logo {
    display: block;
    width: 90px;
    width: 9rem;
    height: 28px;
    height: 2.8rem;
    background-color: aqua;
    background-size: 90px 28px;
    background-size: 9rem 2.8rem; }

.header-sample01 .header-page-prev {
  position: relative;
  left: -10px;
  left: -1rem;
  padding: 10px 10px 10px 10px;
  padding: 1rem 1rem 1rem 1rem; }
  .header-sample01 .header-page-prev .ico-prev {
    display: block;
    width: 16px;
    width: 1.6rem;
    height: 16px;
    height: 1.6rem;
    border-top: 2px solid #000000;
    border-top: 0.2rem solid #000000;
    border-right: 2px solid #000000;
    border-right: 0.2rem solid #000000;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }

.header-sample01 .header-gnb-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 85;
  background-color: #ffffff; }

.header-sample01 .header-search {
  display: none; }
  .header-sample01 .header-search .ico-search {
    display: block;
    width: 25px;
    width: 2.5rem;
    height: 25px;
    height: 2.5rem;
    background: url("/images/common/ico_header_search_mo.png") no-repeat center center;
    background-size: 25px 25px;
    background-size: 2.5rem 2.5rem; }

.header-sample01 .header-all-menu {
  position: relative;
  right: -10px;
  right: -1rem;
  padding: 10px 10px 10px 10px;
  padding: 1rem 1rem 1rem 1rem; }
  .header-sample01 .header-all-menu .bar-align {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 22px;
    width: 2.2rem;
    height: 18px;
    height: 1.8rem;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header-sample01 .header-all-menu [class^=bar0] {
    border-radius: 1px;
    width: 100%;
    height: 2px;
    background-color: #222222; }

/*! 메인 헤더 컨트롤 */
.bodyClassMain .header-logo {
  display: block; }

.bodyClassMain .header-page-prev {
  display: none; }

.bodyClassMain .header-mobile-title {
  display: none; }

/*! 서브 메인 헤더 컨트롤 */
.bodyClassSubMain .header-logo {
  display: block; }

.bodyClassSubMain .header-page-prev {
  display: none; }

.bodyClassSubMain .header-mobile-title {
  display: none; }

/*! mobile 버전 - css */
@media (max-width: 1023px) {
  .footer-sample01 {
    /*! footer layout */
    /*! footer etc */
    /*! footer sns */
    /*! footer info */
    /*! footer util */ }
    .footer-sample01 .footer-content {
      background-color: #333333; }
    .footer-sample01 .footer-etc-container {
      background-color: #2b2b2b; }
    .footer-sample01 .footer-etc-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 10px 0px 10px 20px;
      padding: 1rem 0rem 1rem 2rem; }
    .footer-sample01 .footer-etc-item {
      margin-right: 28px;
      margin-right: 2.8rem; }
      .footer-sample01 .footer-etc-item:nth-child(2) .footer-etc-txt {
        color: #00bca9; }
    .footer-sample01 .footer-etc-link {
      display: block;
      padding: 5px 0px 5px 0px;
      padding: 0.5rem 0rem 0.5rem 0rem; }
    .footer-sample01 .footer-etc-txt {
      font-size: 13px;
      font-size: 1.3rem;
      color: #ffffff;
      line-height: 1.76; }
    .footer-sample01 .footer-sns-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 25px 20px 20px 20px;
      padding: 2.5rem 2rem 2rem 2rem; }
    .footer-sample01 .footer-sns-item {
      margin-right: 35px;
      margin-right: 3.5rem; }
    .footer-sample01 .footer-sns-link {
      display: block; }
    .footer-sample01 [class^=footer-sns-ico] {
      display: block;
      background-repeat: no-repeat;
      background-position: center center; }
    .footer-sample01 .footer-sns-ico01 {
      width: 22px;
      width: 2.2rem;
      height: 22px;
      height: 2.2rem;
      background-size: 22px 22px;
      background-size: 2.2rem 2.2rem;
      background-color: red; }
    .footer-sample01 .footer-sns-ico02 {
      width: 15px;
      width: 1.5rem;
      height: 22px;
      height: 2.2rem;
      background-size: 15px 22px;
      background-size: 1.5rem 2.2rem;
      background-color: yellow; }
    .footer-sample01 .footer-sns-ico03 {
      width: 25px;
      width: 2.5rem;
      height: 19px;
      height: 1.9rem;
      background-size: 25px 19px;
      background-size: 2.5rem 1.9rem;
      background-color: blue; }
    .footer-sample01 .footer-sns-ico04 {
      width: 22px;
      width: 2.2rem;
      height: 20px;
      height: 2rem;
      background-size: 22px 20px;
      background-size: 2.2rem 2rem;
      background-color: purple; }
    .footer-sample01 .footer-info-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0px 20px 0px 20px;
      padding: 0rem 2rem 0rem 2rem; }
    .footer-sample01 .footer-info-item:nth-child(1) .footer-info-txt:nth-child(1):after {
      display: inline-block; }
    .footer-sample01 .footer-info-item:nth-child(2) .footer-info-txt:nth-child(1):after {
      display: inline-block; }
    .footer-sample01 .footer-info-item:last-child {
      font-family: 'Montserrat';
      margin-top: 3px;
      margin-top: 0.3rem; }
      .footer-sample01 .footer-info-item:last-child .footer-info-txt {
        color: #999999; }
    .footer-sample01 .footer-info-txt {
      font-size: 12px;
      font-size: 1.2rem;
      color: #ffffff;
      line-height: 1.83;
      margin: 0px 9px 0px 0px;
      margin: 0rem 0.9rem 0rem 0rem; }
      .footer-sample01 .footer-info-txt:after {
        display: none;
        margin: -2px 0px 0px 10px;
        margin: -0.2rem 0rem 0rem 1rem;
        content: '';
        width: 1px;
        height: 12px;
        height: 1.2rem;
        background-color: #222222; }
    .footer-sample01 .footer-util-container {
      padding: 20px 0px 45px 0px;
      padding: 2rem 0rem 4.5rem 0rem; }
    .footer-sample01 .footer-util-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0px 20px 0px 20px;
      padding: 0rem 2rem 0rem 2rem; }
    .footer-sample01 .footer-logo-btn {
      display: block;
      width: 90px;
      width: 9rem;
      height: 28px;
      height: 2.8rem;
      background-color: skyblue;
      background-size: 90px 28px;
      background-size: 9rem 2.8rem; }
    .footer-sample01 .footer-family-site-continer .drop-down-container {
      width: 150px;
      width: 15rem; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-btn {
      border: 1px solid rgba(0, 0, 0, 0.4);
      padding: 6px 15px 5px 15px;
      padding: 0.6rem 1.5rem 0.5rem 1.5rem; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-index {
      color: #ffffff;
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 1.76; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-ico {
      border-color: #ffffff; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-link {
      padding: 9px 15px 9px 15px;
      padding: 0.9rem 1.5rem 0.9rem 1.5rem; }
      .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-link:focus, .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-link:hover {
        background-color: #444444; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-txt {
      color: #ffffff; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top.open .drop-down-btn {
      background-color: #444444; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top.open .drop-down-ico {
      border-color: #ffffff; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top.open .drop-down-list {
      background-color: #444444; } }

/*! pc & tablet 버전 - css */
@media (min-width: 1024px) {
  .footer-sample01 {
    /*! footer layout */
    /*! footer etc */
    /*! footer sns */
    /*! footer info */
    /*! footer util */ }
    .footer-sample01 .footer-content {
      position: relative;
      background-color: #333333; }
      .footer-sample01 .footer-content:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #2b2b2b;
        height: 55px;
        height: 5.5rem;
        border-bottom: 1px solid #000000; }
    .footer-sample01 .footer-align01 {
      position: relative;
      z-index: 1;
      max-width: 1240px;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 55px;
      height: 5.5rem;
      padding: 0px 20px 0px 20px;
      padding: 0rem 2rem 0rem 2rem; }
    .footer-sample01 .footer-align02 {
      max-width: 1240px;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 25px 20px 40px 20px;
      padding: 2.5rem 2rem 4rem 2rem; }
    .footer-sample01 .footer-etc-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 10px 0px 10px 0px;
      padding: 1rem 0rem 1rem 0rem; }
    .footer-sample01 .footer-etc-item {
      margin-right: 40px;
      margin-right: 4rem; }
      .footer-sample01 .footer-etc-item:nth-child(2) .footer-etc-txt {
        color: #00bca9; }
    .footer-sample01 .footer-etc-link {
      display: block;
      padding: 5px 0px 5px 0px;
      padding: 0.5rem 0rem 0.5rem 0rem; }
    .footer-sample01 .footer-etc-txt {
      font-size: 16px;
      font-size: 1.6rem;
      color: #ffffff;
      line-height: 1.625; }
    .footer-sample01 .footer-sns-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 15px 0px 15px 0px;
      padding: 1.5rem 0rem 1.5rem 0rem; }
    .footer-sample01 .footer-sns-item {
      margin-right: 35px;
      margin-right: 3.5rem; }
      .footer-sample01 .footer-sns-item:last-child {
        margin-right: 0; }
    .footer-sample01 .footer-sns-link {
      display: block; }
    .footer-sample01 [class^=footer-sns-ico] {
      display: block;
      background-repeat: no-repeat;
      background-position: center center; }
    .footer-sample01 .footer-sns-ico01 {
      width: 23px;
      width: 2.3rem;
      height: 22px;
      height: 2.2rem;
      background-size: 23px 22px;
      background-size: 2.3rem 2.2rem;
      background-color: red; }
    .footer-sample01 .footer-sns-ico02 {
      width: 16px;
      width: 1.6rem;
      height: 23px;
      height: 2.3rem;
      background-size: 16px 23px;
      background-size: 1.6rem 2.3rem;
      background-color: yellow; }
    .footer-sample01 .footer-sns-ico03 {
      width: 27px;
      width: 2.7rem;
      height: 19px;
      height: 1.9rem;
      background-size: 27px 19px;
      background-size: 2.7rem 1.9rem;
      background-color: blue; }
    .footer-sample01 .footer-sns-ico04 {
      width: 24px;
      width: 2.4rem;
      height: 22px;
      height: 2.2rem;
      background-size: 24px 22px;
      background-size: 2.4rem 2.2rem;
      background-color: pink; }
    .footer-sample01 .footer-info-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 800px;
      width: 80rem; }
    .footer-sample01 .footer-info-item {
      padding: 2px 0px 2px 0px;
      padding: 0.2rem 0rem 0.2rem 0rem; }
      .footer-sample01 .footer-info-item:nth-child(3) .footer-info-txt:nth-child(1):after {
        display: none; }
      .footer-sample01 .footer-info-item:nth-child(5) .footer-info-txt:nth-child(1):after {
        display: none; }
      .footer-sample01 .footer-info-item:nth-child(6) .footer-info-txt:nth-child(1):after {
        display: none; }
      .footer-sample01 .footer-info-item:last-child {
        font-family: 'Montserrat';
        margin-top: 6px;
        margin-top: 0.6rem; }
        .footer-sample01 .footer-info-item:last-child .footer-info-txt {
          color: #999999; }
    .footer-sample01 .footer-info-txt {
      font-size: 14px;
      font-size: 1.4rem;
      color: #ffffff;
      line-height: 1.71;
      margin: 0px 14px 0px 0px;
      margin: 0rem 1.4rem 0rem 0rem; }
      .footer-sample01 .footer-info-txt:after {
        display: inline-block;
        margin: -2px 0px 0px 15px;
        margin: -0.2rem 0rem 0rem 1.5rem;
        content: '';
        width: 1px;
        height: 12px;
        height: 1.2rem;
        background-color: #222222; }
    .footer-sample01 .footer-util-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer-sample01 .footer-logo-btn {
      display: block;
      width: 100px;
      width: 10rem;
      height: 32px;
      height: 3.2rem;
      background-color: skyblue;
      background-size: 100px 32px;
      background-size: 10rem 3.2rem;
      margin-top: -5px;
      margin-top: -0.5rem;
      margin-bottom: 25px;
      margin-bottom: 2.5rem; }
    .footer-sample01 .footer-family-site-continer .drop-down-container {
      width: 180px;
      width: 18rem; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-btn {
      border: 1px solid rgba(0, 0, 0, 0.4);
      padding: 8px 15px 8px 15px;
      padding: 0.8rem 1.5rem 0.8rem 1.5rem; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-index {
      color: #ffffff;
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 1.76; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-ico {
      border-color: #ffffff; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-link {
      padding: 11px 15px 12px 15px;
      padding: 1.1rem 1.5rem 1.2rem 1.5rem; }
      .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-link:focus, .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-link:hover {
        background-color: #444444; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top .drop-down-txt {
      color: #ffffff; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top.open .drop-down-btn {
      background-color: #444444; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top.open .drop-down-ico {
      border-color: #ffffff; }
    .footer-sample01 .footer-family-site-continer .drop-down-align.top.open .drop-down-list {
      background-color: #444444; } }

/*! mobile 버전 - css */
/*! pc & tablet 버전 - css */

/*# sourceMappingURL=../sass_maps/main.css.map */
